<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body class="d-flex flex-column min-vh-100">
<div th:replace="fragments/bodyheader" :: bodyheader />
<div class="container">
    <div class="py-5 text-center">
        <h2>프로필</h2>
    </div>
    <div class="row mx-auto justify-content-center" th:object="${member}">
        <div class="col-md-6 mx-auto">
            <div th:if="${message}" class="alert alert-info alert-dismissible show mt-3" role="alert">
                <span th:text="${message}">수정 완료</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="mb-3">
                <label th:for="email">아이디</label>
                <input type="text" th:field="*{email}" class="form-control" readonly>
            </div>

            <div class="mb-3">
                <label th:for="name">이름</label>
                <input type="text" th:field="*{name}" class="form-control" readonly>
            </div>
            <div class="mb-4"></div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-light link-secondary" type="button" th:onclick="|location.href='@{/settings/password}'|">비밀번호 변경</button>
                    <button class="btn btn-light link-secondary" type="button" th:onclick="|location.href='@{/settings/profile}'|">회원정보 수정</button>
                    <button class="btn btn-light link-secondary" type="button" th:onclick="|location.href='@{/settings/leave}'|">탈퇴</button>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
<div th:replace="fragments/footer" :: footer />
</body>
</html>