<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .input-form {
        max-width: 680px;

        margin-top: 80px;
        padding: 32px;

        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
    .email-already {
        color: orangered;
        display: none;
    }
    .email-ok {
        color: springgreen;
        display: none;
    }
    .name-already {
        color: orangered;
        display: none;
    }
    .name-ok {
        color: springgreen;
        display: none;
    }
</style>
<body class="d-flex flex-column min-vh-100">
<div th:replace="fragments/bodyheader" :: bodyheader />
<div class="container">
    <!--<div class="input-form-background row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">회원가입</h4>
            <form class="validation-form" th:action method="post" th:object="${memberForm}">
                <div class="mb-3">
                    <label th:for="email">아이디</label>
                    <input type="text" th:field="*{email}" placeholder="아이디를 입력하세요" class="form-control">
                    <p th:errors="*{email}" class="field-error">아이디 오류</p>
                </div>
                <div class="mb-3">
                    <label th:for="password">비밀번호</label>
                    <input type="password" th:field="*{password}" placeholder="비밀번호를 입력하세요" class="form-control">
                    <p th:errors="*{password}" class="field-error">비밀번호 오류</p>
                </div>
                <div class="mb-3">
                    <label th:for="name">이름</label>
                    <input type="text" th:field="*{name}" placeholder="이름을 입력하세요" class="form-control">
                    <div class="invalid-feedback">사용 불가능한 이름입니다.</div>
                    <p th:errors="*{name}" class="field-error">이름 오류</p>
                </div>
                <div class="mb-4"></div>
                <button class="btn btn-primary btn-lg" type="submit">가입 완료</button>
            </form>
        </div>
    </div>-->
    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>
    <div class="row justify-content-center">
        <form class="col-sm-6 mx-auto" th:action method="post" th:object="${memberForm}">
            <div class="mb-3">
                <span th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">예외가 발생했습니다.</span>
            </div>
            <div class="mb-4"></div>
            <div class="mb-3">
                <label th:for="email">아이디</label>
                <input type="text" th:field="*{email}" placeholder="아이디를 입력하세요"
                       th:errorclass="border-danger" class="form-control">
                <span class="email-ok">사용 가능한 아이디입니다.</span>
                <span class="email-already">사용 불가능한 아이디입니다.</span>
                <p th:errors="*{email}" class="text-danger">아이디 오류</p>
            </div>

            <div class="mb-3">
                <label th:for="password">비밀번호</label>
                <input type="password" th:field="*{password}" placeholder="비밀번호를 입력하세요"
                       th:errorclass="border-danger" class="form-control">
                <p th:errors="*{password}" class="text-danger">비밀번호 오류</p>
            </div>

            <div class="mb-3">
                <label th:for="name">이름</label>
                <input type="text" th:field="*{name}" placeholder="이름을 입력하세요"
                       th:errorclass="border-danger" class="form-control">
                <span class="name-ok">사용 가능한 이름입니다.</span>
                <span class="name-already">사용 불가능한 이름입니다.</span>
                <p th:errors="*{name}" class="text-danger">이름 오류</p>
            </div>
            <div class="mb-4"></div>
            <button class="btn btn-primary btn-lg" type="submit">가입하기</button>
        </form>
    </div>
</div> <!-- /container -->
<div th:replace="fragments/footer" :: footer />
</body>
<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--<script>
    $("#email").on("propertychange change keyup paste input", function() {
        var email = $("#email").val()
        if (email == "") {
            $('.email-already').css("display", "inline-block");
            $('.email-ok').css("display", "none");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/emailCheck",
            data: {"email": email},
            dataType: "json",
            success: function(result) {
                if (result == true) {
                    $('.email-already').css("display", "inline-block");
                    $('.email-ok').css("display", "none");
                } else {
                    $('.email-ok').css("display", "inline-block");
                    $('.email-already').css("display", "none");
                }
            }
        });
    });
    $("#name").on("propertychange change keyup paste input", function() {
        var name = $("#name").val()
        if (name == "") {
            $('.name-already').css("display", "inline-block");
            $('.name-ok').css("display", "none");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/nameCheck",
            data: {"name": name},
            dataType: "json",
            success: function(result) {
                if (result == true) {
                    $('.name-already').css("display", "inline-block");
                    $('.name-ok').css("display", "none");
                } else {
                    $('.name-ok').css("display", "inline-block");
                    $('.name-already').css("display", "none");
                }
            }
        });
    });
</script>-->
<!--<script type="text/javascript">
    function emailCheck() {
        const email = $("#email").val();
        if (email == "") {
            alert("아이디를 입력해주세요!");
            $("#email").focus();
            return false;
        }
        $.ajax({
            type: "get",
            url: "/signup",
            data: {"email": email},
            dataType: "JSON",

            success: function (result) {
                if (result.result == "0") {
                    if (confirm("이 아이디는 사용 가능합니다. \n사용하시겠습니까?")) {
                        emailOverlapCheck = 1;
                        $("#email").attr("readonly", true);
                        $("#emailOverlay").attr("disabled", true);
                        $("#emailOverlay").css("display", "none");
                        $("#resetemail").attr("disabled", false);
                        $("#resetemail").css("display", "inline-block");
                    }
                    return false;
                } else if (result.result == "1") {
                    alert("이미 사용중인 아이디입니다.");
                    $("#email").focus();
                } else {
                    alert("success이지만 result 값이 undefined 잘못됨");
                }
            },
            error: function (request, status,error) {
                alert("ajax 실행 실패");
                alert("code:" + request.status + "\n" + "error :" + error);
            }
        });
    }
</script>-->
</html>