<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body class="d-flex flex-column min-vh-100">
<div th:replace="fragments/bodyheader" :: bodyheader />
<div class="container">
    <div class="py-5 text-center">
        <h2>회원정보 수정</h2>
    </div>
    <div class="row mx-auto justify-content-center">
        <form class="col-md-6 mx-auto" th:action method="post" th:object="${memberInfoForm}">
            <div class="mb-3" th:if="${errorMessage}">
                <span th:text="${errorMessage}" class="alert alert-danger">예외가 발생했습니다.</span>
            </div>

            <div class="mb-3">
                <label th:for="email">아이디</label>
                <input type="text" th:field="*{email}" th:errorclass="is-invalid" class="form-control" readonly>
                <p th:errors="*{email}" class="text-danger">아이디 오류</p>
            </div>

            <div class="mb-3">
                <label th:for="name">이름</label>
                <input type="text" th:field="*{name}" th:errorclass="is-invalid" class="form-control" autofocus="autofocus">
                <p th:errors="*{name}" class="text-danger">이름 오류</p>
            </div>

            <div class="mb-3">
                <label th:for="password_current">현재 비밀번호</label>
                <input type="password" th:field="*{password_current}" th:errorclass="is-invalid" class="form-control">
                <p th:errors="*{password_current}" class="text-danger">현재 비밀번호 오류</p>
            </div>

            <div class="mb-4"></div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-default" type="submit">수정</button>
                    <button type="button" class="btn btn-default" th:onclick="|location.href='@{/profile}'|">취소</button>
                </div>
            </div>
        </form>
    </div>
</div> <!-- /container -->
<div th:replace="fragments/footer" :: footer />
</body>
</html>