<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .form-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-width {
        max-width: 600px;
    }
</style>
<body>
<div>
    <div th:replace="fragments/bodyheader" :: bodyheader />
    <div class="py-5 text-center">
        <h1>경기 결과 수정</h1>
    </div>
    <hr class="my-4">
    <div class="form-center">
        <form class="form-control form-width" th:object="${form}" th:action method="post">
            <input type="hidden" th:field="*{matchId}"/>
            <input type="hidden" th:field="*{homeId}"/>
            <input type="hidden" th:field="*{awayId}"/>
            <div>
                <label th:for="home">홈</label>
                <input type="text" class="form-control" th:field="*{home}" readonly>
            </div>
            <div>
                <label th:for="homeScore">홈팀 스코어</label>
                <input type="number" th:field="*{homeScore}" th:min="0" th:max="100"
                       th:value="*{homeScore}" class="form-control" th:errorclass="field-error">
                <p th:errors="*{homeScore}" class="field-error">홈팀 스코어 오류</p>
            </div>
            <div>
                <label th:for="awayScore">어웨이팀 스코어</label>
                <input type="number" th:field="*{awayScore}" th:min="0" th:max="100"
                       th:value="*{awayScore}" class="form-control" th:errorclass="field-error">
                <p th:errors="*{awayScore}" class="field-error">어웨이팀 스코어 오류</p>
            </div>
            <div>
                <label th:for="away">어웨이</label>
                <input type="text" class="form-control" th:field="*{away}" readonly>
            </div>

            <hr class="my-4">

            <div class="row">
                <div class="col">
                    <button class="btn btn-success btn-lg" type="submit">저장</button>
                    <button class="btn btn-warning btn-lg"
                            th:onclick="|location.href='@{/rooms/{roomId}/competitions/{competitionId}(roomId=${roomId}, competitionId=${competitionId})}'|"
                            type="button">취소</button>
                </div>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer" :: footer />
</div> <!-- /container -->
</body>
</html>