<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>
<body>
<div class="container" style="max-width: 600px">
    <div th:replace="fragments/bodyheader" :: bodyheader />
    <div class="py-5 text-center">
        <h2>대회 만들기</h2>
    </div>
    <form th:action th:object="${form}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div>
            <label th:for="title">대회 이름</label>
            <input type="text" th:field="*{title}" placeholder="대회 이름을 입력하세요"
                   class="form-control" th:errorclass="field-error">
            <p th:errors="*{title}" class="field-error">대회 이름 오류</p>
        </div>

        <div class="py-2">
            <div>대회 방식</div>
            <select th:field="*{competitionType}" class="form-select-sm"
                    onchange="updateForm()">
                <option th:each="competitionType : ${T(hongik.ce.jolup.domain.competition.CompetitionType).values()}" th:value="${competitionType.name()}"
                        th:text="${competitionType.description}" th:selected="${competitionType == form.competitionType}"></option>
            </select>
        </div>

        <div class="py-2">
            <div>대회 참여 인원</div>
            <select th:field="*{headCount}" class="form-select-sm"
                    onchange="updateForm()">
            <!--th:onchange="|location.href='@{/competition/create?title=' + form.title.value
            + '&competitionType='+ form.competitionType.value + '&memNum=' + this.value +  '}'|">-->
                <option th:each="headCount : ${form.competitionType.name() == 'LEAGUE' ?
                 #numbers.sequence(2, 20) : #numbers.sequence(2, 32)}" th:value="${headCount}" th:text="${headCount}"
                        th:selected="${headCount} == ${form.headCount}"></option>
            </select>
        </div>

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>참가자 아이디</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="email : *{emails}">
                    <td th:text="'참가자' + ${emailStat.count}"></td>
                    <td>
                        <input type="text" th:field="*{emails[__${emailStat.index}__]}"
                               th:errorclass="field-error" class="form-control"/>
                        <p th:errors="*{emails[__${emailStat.index}__]}" class="field-error">이메일 형식이 올바르지 않음</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-lg">생성</button>
                <a th:href="@{|/rooms/${roomId}|}" class="btn btn-warning btn-lg">취소</a>
            </div>
        </div>

    </form>
    <div th:replace="fragments/footer" :: footer />
</div> <!-- /container -->
</body>

<script th:inline="javascript">
    history.replaceState({}, null, location.pathname);
    function updateForm() {
        let roomId = [[${roomId}]]
        let title = document.getElementById("title").value;
        let competitionType = document.getElementById("competitionType").value;
        let headCount = document.getElementById("headCount").value;
        let emails = []
        for (let i = 0; i < headCount; i++) {
            if (document.getElementById("emails" + String(i))) {
                emails.push(document.getElementById("emails" + String(i)).value)
            }
            else {
                emails.push("")
            }
        }
        location.href="/rooms/" + roomId + "/competitions/create?title=" + title + "&competitionType=" + competitionType + "&headCount=" + headCount + "&emails=" + emails;
    }
</script>
</html>