<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="d-flex flex-column min-vh-100 bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원가입</h2>
    </div>
    <div class="row mx-auto justify-content-center">
        <form class="col-md-6 mx-auto needs-validation" th:action method="post" th:object="${signupForm}" novalidate>
            <div class="form-group mb-3">
                <label th:for="email">아이디</label>
                <input type="text" th:field="*{email}" placeholder="아이디를 입력하세요" autofocus="autofocus"
                       th:errorclass="is-invalid" class="form-control" required>
                <small class="invalid-feedback">아이디를 입력하세요.</small>
                <small th:errors="*{email}" class="form-text text-danger">아이디 오류</small>
            </div>

            <div class="form-group mb-3">
                <label th:for="password">비밀번호</label>
                <input type="password" th:field="*{password}" placeholder="비밀번호를 입력하세요"
                       th:errorclass="is-invalid" class="form-control" required>
                <small class="invalid-feedback">비밀번호를 입력하세요.</small>
                <small th:errors="*{password}" class="form-text text-danger">비밀번호 오류</small>
            </div>

            <div class="form-group mb-3">
                <label th:for="name">이름</label>
                <input type="text" th:field="*{name}" placeholder="이름을 입력하세요"
                       th:errorclass="is-invalid" class="form-control" required>
                <small class="invalid-feedback">이름을 입력하세요.</small>
                <small th:errors="*{name}" class="form-text text-danger">이름 오류</small>
            </div>
            <div class="mb-4"></div>
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">가입하기</button>
                <button class="btn btn-outline-dark" type="button" th:onclick="|location.href='@{/}'|">취소</button>
            </div>
        </form>
    </div>
</div> <!-- /container -->
<div th:replace="fragments.html :: footer"></div>
<script th:replace="fragments::form-validation"></script>
</body>
</html>