<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<style>
    .table-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .table-width {
        max-width: 1000px;
    }
    ul {
        list-style: none;
    }
    li {
        float: left;
        margin-left: 20px;
    }
</style>
<body>
<div>
    <div th:replace="fragments/bodyheader" :: bodyheader />
    <div class="py-5 text-center">
        <h1><span class="text-black mx-2" sec:authentication="name">사용자</span>님의 알림 목록</h1>
    </div>
    <hr class="my-4">
    <div class="table-center">
        <table class="table table-width text-center">
            <tbody>
            <tr th:if="${alarms.isEmpty()}">
                <td class="text-center" colspan="5">알림이 존재하지 않습니다.</td>
            </tr>
            <tr th:each="alarm : ${alarms}">
                <td th:text="${alarm.sendMember.email} + '(' + ${alarm.sendMember.name} + ')님이 '
                 + ${alarm.alarmType.description} +'했습니다.'">메시지</td>
                <td th:text="${#temporals.format(alarm.createdDate, 'yyyy-MM-dd HH:mm:ss')}">요청시간</td>
                <td>
                    <a class="btn btn-primary"
                       th:if="${alarm.status.name() eq 'BEFORE'}"
                       th:href="'javascript:accept('+${alarm.id}+')'">수락</a>
                    <a class="btn btn-danger"
                       th:if="${alarm.status.name() eq 'BEFORE'}"
                       th:href="'javascript:reject('+${alarm.id}+')'">거절</a>
                    <a class="btn btn-danger"
                       th:if="${alarm.status.name() eq 'AFTER'}"
                       th:href="'javascript:deleteAlarm('+${alarm.id}+')'">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer" :: footer />
</div> <!-- /container -->
</body>
<script th:inline="javascript">
    function accept(alarmId) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/alarms/" + alarmId + "/accept");
        document.body.appendChild(form);
        form.submit();
    }
    function reject(alarmId) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/alarms/" + alarmId + "/reject");
        document.body.appendChild(form);
        form.submit();
    }
    function deleteAlarm(alarmId) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/alarms/" + alarmId);
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>