<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div class="row py-5 justify-content-center">
        <div class="col-md-6">
            <div th:replace="fragments.html :: message"></div>
            <div class="card" th:if="${notificationList.size() == 0}">
                <div class="card-header text-center">
                    알림이 없습니다.
                </div>
            </div>

            <div class="card" th:if="${notificationList.size() > 0}">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <small>읽지 않은 알림 <span class="text-success" th:text="${numberOfNotChecked}">3</span>개</small>
                    <a href="#" th:if="${hasNotification}" th:href="@{/notifications/all-read}" class="text-decoration-none">
                        <small class="text-dark">모두 읽음 처리</small>
                    </a>
                    <!--<form class="row" th:action="@{/notifications}" th:method="delete">
                        <button type="submit" class="" aria-describedby="deleteHelp">
                            읽은 알림 삭제
                        </button>
                    </form>-->
                </div>
                <div th:replace="fragments.html :: notification-list (notifications=${notificationList})"></div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
<div th:replace="fragments.html :: footer"></div>
<script th:replace="fragments.html :: date-time"></script>
</body>
</html>