<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyheader" :: bodyheader />
    <div class="jumbotron">
        <<a class="btn btn-lg btn-info" th:href="@{/competition/create}" role="button">방만들기</a> <br>
        <h1><span class="text-white mr-2 mx-2" sec:authentication="name">사용자</span>님 목록</h1>
        <table>
            <thead>
            <tr>
                <th>구분</th>
                <th>방id</th>
                <th>제목</th>
                <th>타입</th>
                <!--            <th>참여인원수</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:if="${joins.empty}">
                <td colspan="4">No competitions Available</td>
            </tr>
            <tr th:each="join, i : ${joins}">
                <td th:text="${i.index+1}"></td>
                <td>
                    <a th:href="'/competition/'+${join.getcompetitionDto().getId()}" th:text="${join.getcompetitionDto().getId()}"></a>
                </td>
                <td th:text="${join.getcompetitionDto().getTitle()}"></td>
                <td th:text="${join.getcompetitionDto().getcompetitionType().getDescription()}"></td>
                <!--            <td th:text="${joincompetition.competition.getMemNum()}"></td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer" :: footer />
</div> <!-- /container -->
</body>
</html>