<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header" th:fragment="bodyHeader">
    <nav class="navbar navbar-expand-md navbar-light sticky-top bg-light">
        <div class="container">
            <a class="text-black" th:href="@{/}"><h3>My Project</h3></a>
            <ul class="my-2 my-lg-0" sec:authorize="!isAuthenticated()">
                <a class="btn btn-secondary my-2 my-sm-0" th:href="@{/signup}">회원가입</a>
                <a class="btn btn-secondary my-2 my-sm-0" th:href="@{/login}">로그인</a> <!-- 로그인이 안된 경우  -->
            </ul>

            <form class="form-check-inline my-2 my-lg-0" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <span class="text-black mr-2 mx-2" sec:authentication="name">사용자</span>님, 안녕하세요.
                <a class="btn btn-secondary my-2 my-sm-0" th:href="@{/rooms}">마이페이지</a>
                <a class="btn btn-secondary my-2 my-sm-0" th:href="@{/alarms}">알림</a>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">로그아웃</button>
            </form>
        </div>
    </nav>
</div>
</html>