<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body class="d-flex flex-column min-vh-100 bg-light">
<div th:replace="fragments/bodyheader" :: bodyheader />
<div class="container">
    <div class="py-5 text-center">
        <h2>멤버 등급 수정</h2>
    </div>
    <div class="row mx-auto justify-content-center">
        <form class="col-md-6 mx-auto" th:action th:object="${joinForm}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="mb-3">
                <label th:for="email">회원명</label>
                <input type="text" th:field="*{email}" class="form-control" th:errorclass="is-invalid" readonly >
                <p th:errors="*{email}" class="text-danger">회원명 오류</p>
            </div>
            <div class="mb-3">
                <label th:for="type">등급</label>
                <select th:field="*{grade}" class="form-select" th:errorclass="border-danger">
                    <option value="">==멤버 등급 선택==</option>
                    <option th:each="grade : ${T(hongik.ce.jolup.domain.join.Grade).values()}" th:value="${grade.name()}"
                            th:text="${grade.description}" th:if="${grade.name() != 'ADMIN'}"></option>
                </select>
                <p th:errors="*{grade}" class="text-danger">공개 여부 오류</p>
            </div>
            <div class="mb-4"></div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-dark">수정</button>
                    <button type="button" class="btn btn-outline-dark" th:onclick="|location.href='@{|/rooms/${roomId}|}'|">취소</button>
                </div>
            </div>
        </form>
    </div>
</div> <!-- /container -->
<div th:replace="fragments/footer" :: footer />
</body>
</html>