.bg-blue {
    background-color: dodgerblue;
}
.bg-purple {
    background-color: #6f42c1;
}
.bg-gray {
    background-color: darkgray;
}
.bg-orange {
    background-color: darkorange;
}
.bg-pink {
    background-color: lightpink;
}
.bg-green {
    background-color: yellowgreen;
}
.bg-yellow {
    background-color: gold;
}
.bg-red {
    background-color: orangered;
}