<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css"/>
    <link rel="stylesheet" href="/tournament.css"/>
    <script defer src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=54v2qemi1o&submodules=geocoder"></script>
    <style>
        .container {
            max-width: 100%;
        }

        /*body,
        input,
        button,
        select,
        optgroup,
        textarea,
        .tooltip,
        .popover {
            font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", "Roboto Light", serif, Arial, "Noto Sans";
        }*/
    </style>
</head>

<footer th:fragment="footer" class="row justify-content-center my-3">
    <small class="text-muted text-center">© 2022 Hongik University Computer Engineering</small>
</footer>

<div th:fragment="settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'} ? active" href="#" th:href="@{/settings/profile}">프로필</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'} ? active" href="#" th:href="@{/settings/password}">비밀번호</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'notification'} ? active" href="#" th:href="@{/settings/notification}">알림 설정</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'member'}? active" href="#" th:href="@{/settings/member}">계정</a>
</div>

<nav th:fragment="navigation-bar" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:href="@{/}">
<!--        <img src="/images/logo.png" width="30" height="30">-->
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
        </svg>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-center me-auto">
            <li class="nav-item p-1">
                <form th:action="@{/search}" class="form-inline d-flex" method="get">
                    <select name="category" class="form-select me-2">
                        <option value="member">회원</option>
                        <option value="room">방</option>
                    </select>
                    <input class="form-control me-2" name="keyword" type="search" placeholder="" required aria-label="Search"/>
                    <button class="btn btn-warning" type="submit" aria-describedby="submitHelp">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </li>
        </ul>

        <ul class="navbar-nav justify-content-end">
            <li class="nav-item p-1" sec:authorize="!isAuthenticated()">
                <a class="nav-link btn btn-outline-light" th:href="@{/login}">로그인</a>
            </li>
            <li class="nav-item p-1" sec:authorize="!isAuthenticated()">
                <a class="nav-link btn btn-outline-light" th:href="@{/signup}">회원가입</a>
            </li>
            <!--<li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/notifications}">
                    <i th:if="${!hasNotification}" class="fa fa-bell-o" aria-hidden="true"></i>
                    <span class="text-info"><i th:if="${hasNotification}" class="fa fa-bell" aria-hidden="true"></i></span>
                </a>
            </li>-->
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i th:if="${!hasNotification}" class="fa fa-bell-o" aria-hidden="true"></i>
<!--                    <span class="text-warning"><i th:if="${hasNotification}" class="fa fa-bell" aria-hidden="true"></i></span>-->
                    <!-- Counter - Alerts -->
                    <!--<span th:if="${hasNotification}" class="badge bg-danger"
                          th:text="${notificationCount < 100 ? notificationCount : notificationCount + '+'}">0</span>-->
                    <span class="text-warning">
                        <i th:if="${hasNotification}" class="fa fa-bell position-relative" aria-hidden="true">
                            <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                <span class="visually-hidden">New Alerts</span>
                            </span>
                        </i>
                    </span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-sm-end shadow animated--grow-in" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header text-center">
                        알림 정보
                    </h6>
                    <div class="dropdown-item text-center small" th:if="${notifications.size == 0}">
                        <span class="font-weight-bold">알림이 없습니다.</span>
                    </div>
                    <a class="dropdown-item d-flex align-items-center" href="#" th:href="@{'/notifications/' + ${notification.id}}" th:each="notification : ${notifications}">
                        <!--<div class="mr-3">
                            <div class="badge bg-primary">
                                <i class="fa fa-file text-white"></i>
                            </div>
                        </div>-->
                        <div>
                            <div class="small fromNow text-muted" th:text="${notification.createdDate}">December 12, 2019</div>
                            <span class="font-weight-bold" th:text="${notification.message}">A new monthly report is ready to download!</span>
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#" th:href="@{/notifications}">전체 알림 보기</a>
                </div>
            </li>
            <!--<li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link btn btn-outline-primary" th:href="@{/new-study}">
                    <i class="fa fa-plus" aria-hidden="true"></i>스터디 개설 &lt;!&ndash;"스터디 개설" 문자열 앞에 플러스 아이콘 추가&ndash;&gt;
                </a>
            </li>-->
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span sec:authentication="name">Username</span>
                    <!-- 이미지가 존재하면 이미지를, 그렇지 않으면 아바타를 보여주도록 수정(시작) -->
                    <svg th:if="${#strings.isEmpty(member?.image)}"
                         th:data-jdenticon-value="${#authentication.name}" width="24" height="24" class="rounded-circle border bg-light"></svg><!--"프로필" 대신 아바타 이미지를 보여줌-->
                    <img th:if="${!#strings.isEmpty(member?.image)}"
                         th:src="${member?.image}" width="24" height="24" class="rounded-circle border"/>
                    <!-- 이미지가 존재하면 이미지를, 그렇지 않으면 아바타를 보여주도록 수정(끝) -->
                </a>
                <div class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="userDropdown">
                    <a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.principal.member.id}}">프로필</a>
                    <a class="dropdown-item" href="#" th:href="@{'/settings/profile'}">설정</a>
                    <div class="dropdown-divider"></div>
                    <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                        <button class="dropdown-item" type="submit">로그아웃</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>

<svg th:fragment="svg-symbols" xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>

<svg th:fragment="symbol-info" class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
    <use xlink:href="#info-fill"/>
</svg>
<svg th:fragment="symbol-success" class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
    <use xlink:href="#check-circle-fill"/>
</svg>
<svg th:fragment="symbol-warning" class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
    <use xlink:href="#exclamation-triangle-fill"/>
</svg>
<svg th:fragment="symbol-danger" class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
    <use xlink:href="#exclamation-triangle-fill"/>
</svg>

<div th:fragment="message" th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
    <svg th:replace="fragments.html::symbol-success"/>
    <span th:text="${message}">완료</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div th:fragment="room-info">
    <div class="row pt-4 text-left justify-content-center bg-light">
        <!--방 이름 표시-->
        <div class="col-10 col-md-6">
            <a href="#" class="text-decoration-none" th:href="@{'/rooms/' + ${room.id}}">
                <span class="h2" th:text="${room.title}">방 이름</span>
            </a>
        </div>
        <div class="col-10 col-md-4 text-end justify-content-md-end">
            <!--방을 공개하지 않았을 경우-->
            <!--<span th:if="${!room.access}" class="d-inline-block" tabindex="0" data-bs-toggle="tooltip"
                  data-bs-placement="bottom" title="공개 준비중입니다.">
                <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button"
                        disabled>DRAFT</button>
            </span>-->
            <!--인증된 사용자이고 방 가입 가능한 경우-->
            <span sec:authorize="isAuthenticated()" th:if="${!room.isMember(#authentication.principal)}"
                  class="btn-group" role="group" aria-label="Basic example">
                <!--방 가입 링크-->
                <a class="btn btn-primary" th:href="@{'/rooms/' + ${room.id} + '/join'}">
                    방 들어가기
                </a>
                <!--방 멤버 수-->
                <!--<a class="btn btn-primary" th:href="@{'/rooms/' + ${room.id} + '/members'}"
                   th:text="${room.count}">1</a>-->
            </span>
            <!--인증된 사용자이고 방 멤버인 경우-->
            <span sec:authorize="isAuthenticated()" th:if="${room.isMember(#authentication.principal) and !room.isAdmin(#authentication.principal)}"
                  class="btn-group" role="group">
                <!--방 가입 링크-->
                <a class="btn btn-outline-danger" th:href="@{'/rooms/' + ${room.id} + '/leave'}">
                    방 나가기
                </a>
                <!--방 멤버 수-->
                <!--<a class="btn btn-primary" th:href="@{'/rooms/' + ${room.id} + '/members'}"
                   th:text="${room.count}">1</a>-->
            </span>
            <!--인증된 사용자이고 방 관리자인 경우-->
            <span sec:authorize="isAuthenticated()" th:if="${room.isAdmin(#authentication.principal)}">
                <button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#remove">방 삭제</button>
                <a class="btn btn-sm btn-outline-primary" th:href="@{'/rooms/' + ${room.id} + '/update'}">
                    방 수정
                </a>
                <!--친구 초대 링크-->
                <a class="btn btn-sm btn-outline-primary" th:href="@{'/rooms/' + ${room.id} + '/invite'}">
                    친구 초대
                </a>
                <!--대회 만들기 링크-->
                <a class="btn btn-sm btn-outline-primary" th:href="@{'/rooms/' + ${room.id} + '/competitions/create'}">
                    <i class="fa fa-plus"></i> 대회 만들기
                </a>
            </span>
        </div>
    </div>

    <div class="modal fade" id="remove" tabindex="-1" role="dialog" aria-labelledby="removeTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!--<div class="modal-header">
                    <h5 class="modal-title" id="removeTitle" th:text="${room.title}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>-->
                <div class="modal-body">
                    <p>방을 정말로 삭제하시겠습니까?</p>
                    <p><strong>삭제</strong>버튼을 누르시면 방, 대회 및 경기 관련 데이터를 삭제하며, 이후 복구할 수 없습니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <form th:action="@{'/rooms/' + ${room.id} + '/settings/room/remove'}" th:method="delete">
                        <button class="btn btn-danger" type="submit" aria-describedby="submitHelp">삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--방 소개-->
    <div class="row justify-content-center bg-light">
        <div class="col-10">
            <p class="lead" th:text="${room.shortDescription}"></p>
        </div>
    </div>
</div>

<div th:fragment="room-menu (roomMenu)" class="row px-3 justify-content-center bg-light">
    <nav class="col-10 nav nav-tabs">
        <!--<a class="nav-item nav-link" href="#" th:classappend="${roomMenu == 'info'}? active" th:href="@{'/rooms/' + ${room.id}}">
            <i class="fa fa-info-circle"></i> 소개
        </a>-->
        <a class="nav-item nav-link" href="#" th:classappend="${roomMenu == 'members'}? active" th:href="@{'/rooms/' + ${room.id} + '/members'}">
            <i class="fa fa-user"></i> 구성원
        </a>
        <a class="nav-item nav-link" th:classappend="${roomMenu == 'competitions'}? active" href="#" th:href="@{'/rooms/' + ${room.id} + '/competitions'}">
            <i class="fa fa-soccer-ball-o"></i> 대회
        </a>
        <!--<a sec:authorize="isAuthenticated()" th:if="${room.isAdmin(#authentication.principal)}"
           class="nav-item nav-link" th:classappend="${roomMenu == 'settings'}? active" href="#" th:href="@{'/rooms/' + ${room.id} + '/settings'}">
            <i class="fa fa-cog"></i> 설정
        </a>-->
    </nav>
</div>

<div th:fragment="date-time">
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script type="application/javascript">
        $(function () {
            moment.locale('ko');
            $(".date-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
            });
            $(".date").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LL');
            });
            $(".day").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('L');
            });
            $(".weekday").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('dddd');
            });
            $(".time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LT');
            });
            $(".calendar").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").calendar();
            });
            $(".fromNow").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").fromNow();
            });
            $(".date-weekday-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLLL');
            });
        })
    </script>
</div>

<!--툴팁 스크립트-->
<script th:fragment="tooltip" type="application/javascript">
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip()
    })
</script>

<div th:fragment="competition-info" class="row py-4 text-center justify-content-center bg-light">
    <div class="col-10">
        <span class="h2">
        <a href="#" class="text-decoration-none" th:href="@{'/rooms/' + ${room.id} + '/competitions'}">
            <span th:text="${room.title}">방 이름</span>
        </a> / <a href="#" class="text-decoration-none" th:href="@{'/rooms/' + ${room.id} + '/competitions/' + ${competition.id}}">
            <span th:text="${competition.title}">대회 이름</span>
        </a>
        </span>
    </div>
</div>

<div th:fragment="competition-menu (currentMenu)" class="row px-3 justify-content-center bg-light">
    <nav class="col-10 nav nav-tabs">
        <a class="nav-item nav-link" th:classappend="${currentMenu == 'matches'}? active"
           href="#" th:href="@{'/rooms/' + ${room.id} + '/competitions/' + ${competition.id}}">경기</a>
        <a th:if="${competition.isLeague()}"
           class="nav-item nav-link" th:classappend="${currentMenu == 'ranking'}? active"
           href="#" th:href="@{'/rooms/' + ${room.id} + '/competitions/' + ${competition.id} + '/ranking'}">순위</a>
        <a sec:authorize="isAuthenticated()" th:if="${room.isAdmin(#authentication.principal)}"
           class="nav-item nav-link" th:classappend="${currentMenu == 'settings'}? active"
           href="#" th:href="@{'/rooms/' + ${room.id} + '/competitions/' + ${competition.id} + '/settings'}">설정</a>
    </nav>
</div>

<ul th:fragment="notification-list (notifications)" class="list-group list-group-flush">
    <a href="#" th:href="@{'/notifications/' + ${notification.id}}" th:each="notification: ${notifications}"
       class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
<!--            <small th:class="${notification.checked}? text-muted" th:text="${notification.title}">Noti title</small>-->
            <small th:text="${notification.message}" class="text-left mb-0 mt-1" th:classappend="${notification.checked}? 'text-muted'">message</small>
            <small class="fromNow" th:classappend="${notification.checked}? 'text-muted'" th:text="${notification.createdDate}">3 days ago</small>
        </div>
    </a>
</ul>

<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function () {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

<div th:fragment="page (pages, url)" th:if="${pages.getTotalElements() > 0 and pages.number <= pages.totalPages - 1}" class="row justify-content-center pt-3">
    <div class="col-sm-10">
        <nav>
            <ul class="pagination justify-content-center"
                th:with="start=${T(java.lang.Math).floor(pages.number/5)*5},
                    last=(${start + 4 < pages.totalPages - 1? start + 4 : pages.totalPages - 1})">
                <li class="page-item" th:classappend="${!pages.hasPrevious()}? disabled">
                    <a th:href="@{${url}(page=0)}" class="page-link" aria-disabled="true">
                        <<
                    </a>
                </li>

                <li class="page-item" th:classappend="${pages.first}? disabled">
                    <a th:href="@{${url}(page=${pages.number - 1})}"
                       class="page-link" aria-disabled="true">
                        <
                    </a>
                </li>

                <li class="page-item" th:class="${i == pages.number}? active"
                    th:each="i: ${#numbers.sequence(start, last)}">
                    <a th:text="${i + 1}" th:href="@{${url}(page=${i})}"
                       class="page-link">1</a>
                </li>

                <li class="page-item" th:classappend="${pages.last}? disabled">
                    <a th:href="@{${url}(page=${pages.number + 1})}" class="page-link">
                        >
                    </a>
                </li>

                <li class="page-item" th:classappend="${!pages.hasNext()}? disabled">
                    <a th:href="@{${url}(page=${pages.totalPages - 1})}"
                       class="page-link">
                        >>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div th:fragment="room-list (roomList)" class="row justify-content-center">
    <div class="col-sm-10">
        <div class="row">
            <div class="col-md-4" th:each="room: ${roomList}">
                <div class="card text-center mb-4 shadow-sm">
                    <a th:href="@{'/rooms/' + ${room.id}}" class="text-decoration-none">
                        <div class="card-body text-truncate">
                            <h5 tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top"
                                class="card-title context" th:title="${room.title}" th:text="${room.title}"></h5>
                            <p tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               class="card-text" th:title="${room.shortDescription}" th:text="${room.shortDescription}">Short description</p>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">
                                    <i class="fa fa-user"></i>
                                    <span th:text="${room.count}"></span>명
                                </small>
                                <small class="text-muted fromNow" th:text="${room.createdDate}">9 mins</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<ul th:fragment="member-list (memberList)" class="list-unstyled col-10">
    <li class="d-flex mt-3" th:each="member: ${memberList}">
        <div class="flex-shrink-0">
            <a class="text-decoration-none" href="#" th:href="${member != null} ? @{'/profile/' + ${member?.id}}">
                <svg th:if="${#strings.isEmpty(member?.image)}" th:data-jdenticon-value="${member?.name}" width="64" height="64" class="rounded-circle border bg-light me-3"></svg>
                <img th:if="${!#strings.isEmpty(member?.image)}" th:src="${member?.image}" width="64" height="64" class="rounded-circle border me-3"/>
            </a>
        </div>
        <div class="flex-grow-1 ms-3">
            <a class="text-decoration-none" href="#" th:href="${member != null} ? @{'/profile/' + ${member?.id}}">
                <h5 class="mt-0 mb-1">
                    <span th:text="${member?.name ?: '(알수없음)'}"></span>
                </h5>
                <span th:text="${member?.bio}"></span>
            </a>
        </div>
    </li>
</ul>

<div th:fragment="room-form (mode)">
    <div class="py-5 text-center">
        <h2>
            <span th:if="${mode == 'update'}">방 수정</span>
            <span th:if="${mode == 'new'}">방 만들기</span>
        </h2>
    </div>
    <div class="row justify-content-center">
        <form class="col-sm-10 needs-validation" th:action
              th:object="${roomForm}" method="post" novalidate>
            <div class="mb-3">
                <label th:for="title">방 이름</label>
                <input type="text" th:field="*{title}" placeholder="방 이름" required maxlength="50"
                       class="form-control" th:errorclass="is-invalid" aria-describedby="titleHelp" autofocus>
                <small id="titleHelp" class="form-text text-muted">
                    50자 이하로 방 이름을 입력하세요.
                </small>
                <small class="invalid-feedback">방 이름을 입력하세요.</small>
                <small th:errors="*{title}" class="text-danger">방 이름 오류</small>
            </div>

            <div class="mb-3">
                <label th:for="revealed">방 공개 여부</label>
                <select th:field="*{revealed}" class="form-select" th:errorclass="border-danger" aria-describedby="roomTypeHelp">
                    <option value="true">공개</option>
                    <option value="false">비공개</option>
                </select>
                <small id="roomTypeHelp" class="form-text text-muted">
                    방을 <strong>공개</strong>할 경우, 모든 사용자들이 해당 방을 자유롭게 참여할 수 있습니다.<br/>
                    방을 <strong>비공개</strong>할 경우, 관리자가 사용자를 초대해야만 가입할 수 있습니다.
                </small>
            </div>
            <div class="mb-3">
                <label th:for="shortDescription">방 소개</label>
                <textarea type="text" th:field="*{shortDescription}" class="form-control"
                          placeholder="방 소개" aria-describedby="shortDescriptionHelp" required maxlength="50"></textarea>
                <small id="shortDescriptionHelp" class="form-text text-muted">
                    50자 이하로 방 소개를 입력하세요.
                </small>
                <small class="invalid-feedback">방 소개를 입력하세요.</small>
                <small class="form-text text-danger" th:errors="*{shortDescription}">ShortDescription Error</small>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-dark" th:text="${mode == 'update' ? '방 수정' : '방 만들기'}">방 만들기</button>
                    <a class="btn btn-outline-dark" href="#" th:href="${mode == 'update'} ? @{'/rooms/' + ${id}} : @{/}">
                        취소
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:fragment="competition-list (competitionList)" class="row justify-content-center pt-3">
    <div class="col-sm-10">
        <div class="row">
            <div class="col-md-6" th:each="competition: ${competitionList}">
                <div class="card text-center mb-4 shadow-sm">
                    <a th:href="@{'/rooms/' + ${room.id} + '/competitions/' + ${competition.id}}" class="text-decoration-none">
                        <div class="card-body text-truncate">
                            <h5 tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top"
                                class="card-title context" th:title="${competition.title}" th:text="${competition.title}"></h5>
                            <!--<p tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               class="card-text" th:title="${room.shortDescription}" th:text="${room.shortDescription}">Short description</p>-->
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">
                                    <i class="fa fa-user"></i>
                                    <span th:text="${competition.count}"></span>명
                                </small>
                                <small class="text-muted fromNow" th:text="${competition.createdDate}">9 mins</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</html>