<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="d-flex flex-column min-vh-100 bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div th:if="${message}" class="alert alert-info alert-dismissible show mt-3" role="alert">
        <span th:text="${message}">수정 완료</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="row justify-content-center pt-3">
        <h5 class="font-weight-light">방</h5>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4" th:if="${!#lists.isEmpty(joins)}">
            <div class="col mb-4" th:each="join: ${joins}">
                <div class="card">
                    <div class="card-body">
                        <a th:href="@{'/rooms/' + ${join.room.id}}" class="text-decoration-none">
                            <h5 class="card-title context" th:text="${join.room.name}"></h5>
                        </a>
                        <p class="card-text">
                            <span>
                                <i class="fa fa-calendar-o"></i>
                                <span class="calendar" th:text="${join.room.createdDate}">Last updated 3 mins ago</span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center pt-3">
        <div class="justify-content-end">
            <button type="button" class="btn btn-outline-dark pull-right" th:onclick="|location.href='@{/rooms/create}'|">방 만들기</button>
        </div>
    </div>

    <div class="row justify-content-center pt-3">
        <div class="col-sm-10">
            <nav>
                <ul class="pagination justify-content-center"
                    th:with="start=${T(java.lang.Math).floor(joins.number/5)*5},
                    last=(${start + 4 < joins.totalPages - 1? start + 4 : joins.totalPages - 1})">
                    <li class="page-item" th:classappend="${!joins.hasPrevious()}? disabled">
                        <a th:href="@{/(page=0)}" class="page-link" aria-disabled="true">
                            <<
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${joins.first}? disabled">
                        <a th:href="@{/(page=${joins.number - 1})}"
                           class="page-link" aria-disabled="true">
                            <
                        </a>
                    </li>

                    <li class="page-item" th:class="${i == joins.number}? active"
                        th:each="i: ${#numbers.sequence(start, last)}">
                        <a th:text="${i + 1}" th:href="@{/(page=${i})}"
                           class="page-link">1</a>
                    </li>

                    <li class="page-item" th:classappend="${joins.last}? disabled">
                        <a th:href="@{/(page=${joins.number + 1})}" class="page-link">
                            >
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${!joins.hasNext()}? disabled">
                        <a th:href="@{/(page=${joins.totalPages - 1})}"
                           class="page-link">
                            >>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div> <!-- /container -->
<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: date-time"></div>
</body>
</html>