<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="d-flex flex-column min-vh-100 bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div th:replace="fragments.html :: message"></div>
    <div class="py-5 text-center">
        <p class="lead" th:if="${joins.getTotalElements() == 0}">
            참여중인 방이 없습니다.
        </p>
        <p class="lead" th:if="${joins.getTotalElements() > 0}">
            현재 <span th:text="${joins.getTotalElements()}"></span>개의 방에 참여중입니다.
        </p>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-6 col-lg-3" th:each="join: ${joins}">
                    <div class="card mb-4 shadow-sm">
                        <a th:href="@{'/rooms/' + ${join.room.id}}" class="text-decoration-none">
                            <div class="card-body">
                                <h5 class="card-title context" th:text="${join.room.title}"></h5>
                                <p class="card-text" th:text="${join.room.title}">Short description</p>
                                <p class="card-text context">
                                    <!--<span th:each="tag: ${join.room.}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                                        <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-white">
                                            <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                                        </a>
                                    </span>
                                    <span th:each="zone: ${study.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                                        <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-white">
                                            <i class="fa fa-globe"></i> <span th:text="${zone.localNameOfCity}" class="text-white">City</span>
                                        </a>
                                    </span>-->
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">
                                        <i class="fa fa-user-circle"></i>
                                        <span th:text="${join.room.count}"></span>명
                                    </small>
                                    <small class="text-muted date-weekday-time" th:text="${join.room.createdDate}">9 mins</small>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center pt-3">
        <div class="col-sm-10 text-end justify-content-end">
            <span class="btn-group" role="group">
                <a class="btn btn-outline-dark" th:href="@{'/rooms/create'}">
                    방 만들기
                </a>
            </span>
            <!--<div class="justify-content-end">
                <button type="button" class="btn btn-outline-dark pull-right" th:onclick="|location.href='@{/rooms/create}'|">방 만들기</button>
            </div>-->
        </div>
    </div>

    <div class="row justify-content-center pt-3" th:if="${joins.getTotalElements() > 0}">
        <div class="col-sm-10">
            <nav>
                <ul class="pagination justify-content-center"
                    th:with="start=${T(java.lang.Math).floor(joins.number/5)*5},
                    last=(${start + 4 < joins.totalPages - 1? start + 4 : joins.totalPages - 1})">
                    <li class="page-item" th:classappend="${!joins.hasPrevious()}? disabled">
                        <a th:href="@{/(page=0)}" class="page-link" aria-disabled="true">
                            <<
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${joins.first}? disabled">
                        <a th:href="@{/(page=${joins.number - 1})}"
                           class="page-link" aria-disabled="true">
                            <
                        </a>
                    </li>

                    <li class="page-item" th:class="${i == joins.number}? active"
                        th:each="i: ${#numbers.sequence(start, last)}">
                        <a th:text="${i + 1}" th:href="@{/(page=${i})}"
                           class="page-link">1</a>
                    </li>

                    <li class="page-item" th:classappend="${joins.last}? disabled">
                        <a th:href="@{/(page=${joins.number + 1})}" class="page-link">
                            >
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${!joins.hasNext()}? disabled">
                        <a th:href="@{/(page=${joins.totalPages - 1})}"
                           class="page-link">
                            >>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div> <!-- /container -->
<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: date-time"></div>
</body>
</html>