<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<svg th:replace="fragments.html::svg-symbols"/>
<div class="container">
    <div th:replace="fragments.html :: message"></div>
    <div class="py-5 text-center">
        <p class="fs-4" th:if="${joins.getTotalElements() == 0}">
            참여중인 방이 없습니다.
        </p>
        <p class="fs-4" th:if="${joins.getTotalElements() > 0}">
            현재 <span th:text="${joins.getTotalElements()}"></span>개의 방에 참여중입니다.
        </p>
    </div>

    <div class="row justify-content-center pb-3">
        <div class="col-sm-10">
            <div class="d-grid d-flex justify-content-end">
                <a class="btn btn-lg btn-primary bg-gradient" th:href="@{'/rooms/create'}">
                    <i class="fa fa-plus"></i> 방 만들기
                </a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div th:replace="fragments.html :: room-list (roomList=${rooms})"></div>
    </div>

    <div class="row justify-content-center pt-3">
        <div th:replace="fragments.html :: page (pages=${joins}, url='/')"></div>
    </div>

    <div th:replace="fragments.html :: footer"></div>
</div> <!-- /container -->
<div th:replace="fragments.html :: date-time"></div>
<script th:replace="fragments.html :: tooltip"></script>
</body>
</html>