<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyheader" :: bodyheader />
    <div class="jumbotron">
        <div class="login-form d-flex justify-content-center">
            <div class="col-sm-5">
                <div class="panel">
                    <p>아이디와 비밀번호를 입력해주세요</p>
                </div>

                <!--<div th:if="${param.error}" class="form-group">
                    <span th:text="${exception}" class="alert alert-danger">예외가 발생했습니다.</span>
                </div>-->

                <form th:action="@{/login_proc}" method="post">
                    <!--            <form name="frm" id="frm" action="#" method="post" onsubmit="return false" class="form-signin">-->
                    <!--                <input th:type="hidden" th:value="secret" name="secret_key">-->
                    <div class="form-group">
                        아이디 : <input type="text" class="form-control" name="username" placeholder="아이디" required="required"
                                     autofocus="autofocus"> <br>
                    </div>
                    <div class="form-group">
                        비밀번호 : <input type="password" class="form-control" name="password" placeholder="비밀번호" required="required"> <br>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="remember-me" />아이디 저장<br>
                    </div>

                    <div th:if="${param.error}" class="form-group">
                        <span th:text="${session}" class="alert alert-danger">아이디 또는 비밀번호가 맞지 않습니다.</span> <br>
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary btn-block">로그인</button> <br>
                    <!--                <button type="submit" onclick="formLogin()" id="formbtn" class="btn btn-lg btn-primary btn-block">로그인</button>-->
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer" :: footer />
</div> <!-- /container -->
</body>
</html>