<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <th:block th:replace="header :: header"></th:block>

    <div class="jumbotron">
        <div class="tbl_wrp">
            <form class="form-horizontal" th:action="@{/makeroom}" method="post">
                <div class="form-group">
                    <label for="subject" class="col-sm-2 control-label">제목</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-large" name="subject" id="subject" placeholder="제목" required="required"> <br>
                    </div>
                </div>

                <div class="form-group">
                    <select th:name="roomType">
                        <option th:each="roomType : ${roomTypes}" th:value="${roomType}" th:text="${roomType.getDescription()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="submit" class="btn btn-lg btn-success">가입하기</button> <br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>