<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html::navigation-bar"></div>
<div class="container">
    <div class="py-5 text-center">
        <p class="lead" th:if="${memberPage.getTotalElements() == 0}">
            <strong th:text="${keyword}" id="keyword" class="context"></strong>에 대한 검색결과가 없습니다.
        </p>
        <p class="lead" th:if="${memberPAge.getTotalElements() > 0}">
            <strong th:text="${keyword}" id="keyword" class="context"></strong>에 대한 회원이
            <span th:text="${memberPage.getTotalElements()}"></span>명 있습니다.
        </p>
    </div>

    <div th:replace="fragments.html::member-list (memberList=${memberPage.getContent()})"></div>

    <div th:replace="fragments.html :: page (pages=${memberPage}, url='/search/member?keyword=' + ${keyword})"></div>
    <div th:replace="fragments.html :: footer"></div>
</div>
<script th:replace="fragments.html :: date-time"></script>
</body>
</html>