<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {border-color: #bd2130;}
    .ok_msg{color: #0a53be;}
    .error_msg{color: #bd2130;}
</style>
<body>
<div class="container" style="max-width: 600px">
    <div th:replace="fragments/bodyheader" :: bodyheader />
    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>
    <form class="form-control" th:action method="post" th:object="${userForm}">
        <div>
            <label th:for="email">아이디</label>
            <input type="text" th:field="*{email}" placeholder="아이디를 입력하세요"
                   th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error_msg">아이디 형식이 올바르지 않음</p>
            <!--                    <input class="btn btn-outline-primary btn-sm mx-1" type="button" id="emailOverlay" onclick="emailCheck()" value="중복 체크"/>-->
            <!--                    <input class="btn btn-outline-success btn-sm" type="button" id="resetEmail" onclick="resetEmail()" disabled value="다시입력"/>-->
        </div>

        <div>
            <label th:for="password">비밀번호</label>
            <input type="password" th:field="*{password}" placeholder="비밀번호를 입력하세요"
                   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error_msg">비밀번호 형식이 올바르지 않음</p>
        </div>

        <div>
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error_msg">이름 형식이 올바르지 않음</p>
        </div>

        <hr class="my-4">


        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-success btn-lg" type="submit">가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-warning btn-lg"
                        onclick="location.href='index.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>
    <div th:replace="fragments/footer" :: footer />
</div> <!-- /container -->
</body>
<!--<script type="text/javascript">
    function emailCheck() {
        const email = $("#email").val();
        if (email == "") {
            alert("아이디를 입력해주세요!");
            $("#email").focus();
            return false;
        }
        $.ajax({
            type: "get",
            url: "/signup",
            data: {"email": email},
            dataType: "JSON",

            success: function (result) {
                if (result.result == "0") {
                    if (confirm("이 아이디는 사용 가능합니다. \n사용하시겠습니까?")) {
                        emailOverlapCheck = 1;
                        $("#email").attr("readonly", true);
                        $("#emailOverlay").attr("disabled", true);
                        $("#emailOverlay").css("display", "none");
                        $("#resetemail").attr("disabled", false);
                        $("#resetemail").css("display", "inline-block");
                    }
                    return false;
                } else if (result.result == "1") {
                    alert("이미 사용중인 아이디입니다.");
                    $("#email").focus();
                } else {
                    alert("success이지만 result 값이 undefined 잘못됨");
                }
            },
            error: function (request, status,error) {
                alert("ajax 실행 실패");
                alert("code:" + request.status + "\n" + "error :" + error);
            }
        });
    }
</script>-->
</html>