<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="d-flex flex-column min-vh-100 bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div class="py-5 text-center">
        <h1>경기 결과 수정</h1>
    </div>
    <div class="row mx-auto justify-content-center">
        <form class="col-md-6 mx-auto" th:object="${form}" th:action method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{homeId}"/>
            <input type="hidden" th:field="*{awayId}"/>
            <div class="mb-3">
                <label th:for="home">홈</label>
                <input type="text" th:field="*{home}" readonly
                       class="form-control" th:errorclass="is-invalid">
                <p th:errors="*{home}" class="text-danger">홈 오류</p>
            </div>
            <div class="mb-3">
                <label th:for="homeScore">홈팀 스코어</label>
                <input type="number" th:field="*{homeScore}" th:min="0" th:max="100"
                       th:value="*{homeScore}" class="form-control" th:errorclass="is-invalid">
                <p th:errors="*{homeScore}" class="text-danger">홈팀 스코어 오류</p>
            </div>
            <div class="mb-3">
                <label th:for="awayScore">어웨이팀 스코어</label>
                <input type="number" th:field="*{awayScore}" th:min="0" th:max="100"
                       th:value="*{awayScore}" class="form-control" th:errorclass="is-invalid">
                <p th:errors="*{awayScore}" class="text-danger">어웨이팀 스코어 오류</p>
            </div>
            <div class="mb-3">
                <label th:for="away">어웨이</label>
                <input type="text" th:field="*{away}" readonly
                       class="form-control" th:errorclass="is-invalid">
                <p th:errors="*{away}" class="text-danger">어웨이 오류</p>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-outline-dark" th:onclick="|javascript:init(${roomId}, ${competitionId}, ${matchId})|" type="button">초기화</button>
                    <button class="btn btn-outline-dark" type="submit">저장</button>
                    <button class="btn btn-outline-dark" th:onclick="|location.href='@{|/rooms/${roomId}/competitions/${competitionId}/matches/${matchId}|}'|" type="button">취소</button>
                </div>
            </div>
        </form>
    </div>
</div> <!-- /container -->
<div th:replace="fragments.html :: footer"></div>
</body>
<script th:inline="javascript">
    function init(roomId, competitionId, matchId) {
        console.log("ㅎ");
        let form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/rooms/" + roomId + "/competitions/" + competitionId + "/matches/" + matchId + "/init");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>