<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyheader" :: bodyheader />
    <div class="jumbotron">
        <form class="form-horizontal" th:action="@{'/match/update/' + ${matchDto.getId()}}" method="post">
            <input type="hidden" name="_method" value="put"/>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th> 홈 </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th> 어웨이 </th>
                </tr>
                </thead>
                <tbody>
                <td th:text="${matchDto.getUser1Dto() == null} ? 'null': ${matchDto.getUser1Dto().getEmail() + '('+ matchDto.getUser1Dto().getName() + ')'}"></td>
                <td>
                    <input type="number" class="form-control input-large" min="0" max="100" th:default="${scoreDto.getUser1Score()}"
                           name="user1Score" th:value="${scoreDto.user1Score}" required="required">
                </td>
                <td>:</td>
                <td>
                    <input type="number" class="form-control input-large" min="0" max="100" th:default="${scoreDto.getUser2Score()}"
                           name="user2Score"th:value="${scoreDto.user2Score}" required="required">
                </td>
                <td th:text="${matchDto.getUser2Dto() == null} ? 'null': ${matchDto.getUser2Dto().getEmail() + '('+ matchDto.getUser2Dto().getName() + ')'}"></td>
                </tr>
                </tbody>
            </table>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <button type="submit" class="btn btn-lg btn-info" th:name="matchStatus" th:value="READY">초기화</button>
                    <button type="submit" class="btn btn-lg btn-success" th:name="matchStatus" th:value="END">저장</button>
                    <a th:href="'/room/'+${matchDto.getRoomDto().getId()}" class="btn btn-warning">취소</a>
                </div>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer" :: footer />
</div> <!-- /container -->
</body>
</html>