<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="d-flex flex-column min-vh-100 bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div th:replace="fragments.html :: competition-info"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mx-auto" th:object="${match}">
            <div th:replace="fragments.html :: message"></div>
            <div class="mb-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span th:if="${competition.isLeague()}" th:text="${match.round + 1} + '라운드 / ' + ${match.number + 1} + '경기'">경기 정보</span>
                        <span th:if="${competition.isTournament() and match.round == 0}" th:text="'결승'">경기 정보</span>
                        <span th:if="${competition.isTournament() and match.round == 1}" th:text="'준결승 / ' + ${match.number + 1} + '경기'">경기 정보</span>
                        <span th:if="${competition.isTournament() and match.round == 2}" th:text="'8강 / ' + ${match.number + 1} + '경기'">경기 정보</span>
                        <span th:if="${competition.isTournament() and match.round == 3}" th:text="'16강 / ' + ${match.number + 1} + '경기'">경기 정보</span>
                        <span th:if="${competition.isTournament() and match.round == 4}" th:text="'32강 / ' + ${match.number + 1} + '경기'">경기 정보</span>
                        <span th:if="${competition.isTournament() and match.round == 5}" th:text="'64강 / ' + ${match.number + 1} + '경기'">경기 정보</span>
                        <small th:if="${match.startDateTime == null}" class="text-warning">시간 미정</small>
                        <small th:if="${match.startDateTime != null}" class="date-time text-dark" th:text="${match.startDateTime}">경기 시간</small>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-4">
                                <svg th:if="${#strings.isEmpty(match.home?.image)}" th:data-jdenticon-value="${match.home != null ? match.home.name:_}" width="24" height="24" class="rounded border bg-light me-3"></svg>
                                <img th:if="${!#strings.isEmpty(match.home?.image)}" th:src="${match.home.image}" width="24" height="24" class="rounded border me-3"/>
                                <span th:text="${match.home?.name}"></span>
                            </div>
                            <div class="col-4">
                                <span th:text="${match.homeScore} + ' : ' + ${match.awayScore}"></span>
                            </div>
                            <div class="col-4">
                                <svg th:if="${#strings.isEmpty(match.away?.image)}" th:data-jdenticon-value="${match.away != null ? match.away.name:_}" width="24" height="24" class="rounded border bg-light me-3"></svg>
                                <img th:if="${!#strings.isEmpty(match.away?.image)}" th:src="${match.away.image}" width="24" height="24" class="rounded border me-3"/>
                                <span th:text="${match.away?.name}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4"></div>
            <div class="row">
                <div class="col">
                    <a sec:authorize="isAuthenticated()" th:if="${room.isAdmin(#authentication.principal)}" class="btn btn-outline-dark" th:href="@{|/rooms/${roomId}/competitions/${competitionId}/matches/${matchId}/update-score|}">
                        경기 결과 수정
                    </a>
                    <a class="btn btn-outline-dark" th:href="@{|/rooms/${roomId}/competitions/${competitionId}|}">
                        돌아가기
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div> <!-- /container -->
<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: date-time"></div>
</body>
</html>