<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-white">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-6" th:object="${match}">
            <div class="mb-3">
                <div class="w-100 rounded shadow border border-dark bg-gradient" style="background-color: lightgray;">
                    <div class="d-flex justify-content-start p-2">
                        <div id="sdt" th:class="${match.startDateTime} ? 'date-time text-dark' : 'text-warning'" th:text="${match.startDateTime} ?: _">
                            시간 미정
                        </div>
                    </div>
                    <div class="d-flex justify-content-around p-2">
                        <div class="grid text-center" style="row-gap: 0;">
                            <figure>
                                <img th:if="${#strings.isEmpty(match?.home?.image)}" src="/images/user.png" width="64" height="64" class="rounded-circle border"/>
                                <img th:if="${!#strings.isEmpty(match?.home?.image)}" th:src="${match?.home?.image}" width="64" height="64" class="rounded-circle border"/>
                                <figcaption th:text="${match?.home?.name}">home name</figcaption>
                            </figure>
                        </div>
                        <div class="d-flex align-items-center fs-2">
                            <p id="hs" th:text="${match?.finished} ? ${match?.homeScore}: '-'">4</p>
                            <p> : </p>
                            <p id="as" th:text="${match?.finished} ? ${match?.awayScore}: '-'">1</p>
                        </div>
                        <div class="grid text-center" style="row-gap: 0;">
                            <figure>
                                <img th:if="${#strings.isEmpty(match?.away?.image)}" src="/images/user.png" width="64" height="64" class="rounded-circle border"/>
                                <img th:if="${!#strings.isEmpty(match?.away?.image)}" th:src="${match?.away?.image}" width="64" height="64" class="rounded-circle border"/>
                                <figcaption th:text="${match?.away?.name}">away name</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <form class="need-validation col-sm-6" novalidate id="date-form" style="display: none">
            <div class="mb-3">
                <label th:for="startDateTime">경기 시간 일시</label>
                <input id="StartDateTime" type="datetime-local" name="startDateTime" th:value="${match.startDateTime}"
                       class="form-control" aria-describedby="startDateTimeHelp">
                <small id="startDateTimeHelp" class="form-text text-muted">
                    경기 시간을 입력하세요.
                </small>
                <small class="invalid-feedback">경기 시간을 입력하세요.</small>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-sm btn-success bg-gradient shadow" type="button" id="date-save-button">저장</button>
                    <button class="btn btn-sm btn-secondary bg-gradient shadow" type="reset" id="date-cancel-button">취소</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row mt-3 justify-content-center">
        <form class="need-validation col-sm-6" novalidate id="score-form" style="display: none">
            <div class="row">
                <div class="mb-3 col-sm-6">
                    <label th:for="homeScore">홈팀 스코어</label>
                    <input type="number" id="homeScore" name="homeScore" th:value="${match.homeScore}"
                           class="form-control" aria-describedby="homeScoreHelp" min="0" max="999" required>
                    <small id="homeScoreHelp" class="form-text text-muted">
                        홈팀 스코어를 입력하세요. 0이상 999이하의 값이어야 합니다.
                    </small>
                    <small class="invalid-feedback">홈팀 스코어를 입력하세요.</small>
                </div>
                <div class="mb-3 col-sm-6">
                    <label th:for="awayScore">어웨이팀 스코어</label>
                    <input type="number" id="awayScore" name="awayScore" th:value="${match.awayScore}"
                           class="form-control" aria-describedby="awayScoreHelp" min="0" max="999" required>
                    <small id="awayScoreHelp" class="form-text text-muted">
                        어웨이팀 스코어를 입력하세요. 0이상 999이하의 값이어야 합니다.
                    </small>
                    <small class="invalid-feedback">어웨이팀 스코어를 입력하세요.</small>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-sm btn-dark bg-gradient shadow" type="button" id="reset-button">초기화</button>
                    <button class="btn btn-sm btn-success bg-gradient shadow" type="button" id="save-button">저장</button>
                    <button class="btn btn-sm btn-secondary bg-gradient shadow" type="reset" id="cancel-button">취소</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row mt-3 justify-content-center" id="btn-group">
        <div class="col-sm-6 justify-content-center">
            <button sec:authorize="isAuthenticated()" th:if="${room.isAdmin(#authentication.principal)}"
                    class="btn btn-sm btn-success bg-gradient shadow" id="date-button">
                경기 시간 수정
            </button>
            <button sec:authorize="isAuthenticated()" th:if="${room.isAdmin(#authentication.principal)}"
                    class="btn btn-sm btn-success bg-gradient shadow" id="score-button">
                경기 결과 수정
            </button>
            <a class="btn btn-sm btn-secondary bg-gradient shadow" th:href="@{|/rooms/${roomId}/competitions/${competitionId}|}">
                목록
            </a>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div> <!-- /container -->
<div th:replace="fragments.html :: date-time"></div>
<script th:replace="fragments.html :: form-validation"></script>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script type="application/javascript" th:inline="javascript">
    $(function () {
        let $scoreBtn = $('#score-button');
        let $scoreForm = $('#score-form');
        let $resetBtn = $('#reset-button');
        let $saveBtn = $('#save-button');
        let $cancelBtn = $('#cancel-button');
        let $btnGroup = $('#btn-group');
        let $homeScore = $('#hs');
        let $homeScoreForm = $('#homeScore');
        let $awayScoreForm = $('#awayScore');
        let $awayScore = $('#as');
        let $dateBtn = $('#date-button');
        let $dateForm = $('#date-form');
        let $dateSaveBtn = $('#date-save-button');
        let $dateCancelBtn = $('#date-cancel-button');
        let $startDateTime = $('#sdt');
        let $homeTeam = $('#home-team');
        let $awayTeam = $('#away-team');
        $scoreBtn.click(function () {
            $btnGroup.hide();
            $scoreForm.show();
        })
        $cancelBtn.click(function () {
            $scoreForm.hide();
            $btnGroup.show();
        });
        $saveBtn.click(function () {
            $scoreForm.hide();
            $btnGroup.show();
            let data = {'finished': 'true'};
            $scoreForm.serializeArray().map(function (x){
                data[x.name] = x.value;
            });
            console.log(data);
            $.ajax({
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/rooms/[[${roomId}]]/competitions/[[${competitionId}]]/matches/[[${matchId}]]/score",
                data: JSON.stringify(data),
            }).done(function (data, status) {
                console.log("${data} and status is ${status}");
            })
            $homeScore.text(data['homeScore']);
            $awayScore.text(data['awayScore']);
            if (data['homeScore'] < data['awayScore']) {
                $homeTeam.addClass('text-muted');
                $awayTeam.removeClass('text-muted');
            } else if (data['homeScore'] > data['awayScore']) {
                $homeTeam.removeClass('text-muted');
                $awayTeam.addClass('text-muted');
            } else {
                $homeTeam.removeClass('text-muted');
                $awayTeam.removeClass('text-muted');
            }
        });

        $resetBtn.click(function () {
            $scoreForm.hide();
            $btnGroup.show();
            let data = {'finished': 'false'};
            $scoreForm.serializeArray().map(function (x){
                data[x.name] = x.value;
            });
            console.log(data);
            $.ajax({
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/rooms/[[${roomId}]]/competitions/[[${competitionId}]]/matches/[[${matchId}]]/score",
                data: JSON.stringify(data),
            }).done(function (data, status) {
                console.log("${data} and status is ${status}");
            })
            $homeScore.text('-');
            $awayScore.text('-');
            $homeScoreForm.val(0);
            $awayScoreForm.val(0);
            $homeTeam.removeClass('text-muted');
            $awayTeam.removeClass('text-muted');
        });

        $dateBtn.click(function () {
            $btnGroup.hide();
            $dateForm.show();
        });
        $dateCancelBtn.click(function () {
            $dateForm.hide();
            $btnGroup.show();
        });
        $dateSaveBtn.click(function () {
            $dateForm.hide();
            $btnGroup.show();
            let data = {};
            $dateForm.serializeArray().map(function (x){data[x.name] = x.value});
            console.log(data);
            $.ajax({
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/rooms/[[${roomId}]]/competitions/[[${competitionId}]]/matches/[[${matchId}]]/date",
                data: JSON.stringify(data),
            }).done(function (data, status) {
                console.log("${data} and status is ${status}");
            })
            if (data['startDateTime'] && $startDateTime.hasClass('text-warning')) {
                $startDateTime.removeClass('text-warning');
                $startDateTime.addClass('text-dark date-time');
                $startDateTime.text(data['startDateTime']);
                $(".date-time").text(function(index, dateTime) {
                    return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
                });
            }
            else if (!data['startDateTime'] && !$startDateTime.hasClass('text-warning')) {
                $startDateTime.removeClass('text-dark date-time');
                $startDateTime.addClass('text-warning');
                $startDateTime.text('시간 미정');
            }
            else {
                $startDateTime.text(data['startDateTime']);
                $(".date-time").text(function(index, dateTime) {
                    return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
                });
            }
        });
    })
</script>
</body>
</html>