<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div th:replace="fragments.html :: competition-info"></div>
    <div class="row mt-3 justify-content-center">
        <div class="col-sm-10" th:object="${match}">
            <div th:replace="fragments.html :: message"></div>
            <div class="mb-3">
                <div class="round-robin__match" tabindex="0">
                    <table class="round-robin__table">
                        <caption class="round-robin__caption">
                            <span id="sdt" th:class="${match.startDateTime == null} ? 'text-warning' : 'date-time text-dark'"
                                  th:text="${match.startDateTime} ?: '시간 미정'">경기 시간</span>
                        </caption>
                        <thead class="sr-only">
                        <tr>
                            <th>Image</th>
                            <th>Team</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                        <tbody class="round-robin__content">
                        <tr class="round-robin__team" th:classappend="${match.homeScore > match.awayScore} ? 'round-robin__team--winner'"
                            tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" th:title="${match?.home?.name}">
                            <td class="round-robin__image">
                                <img th:if="${#strings.isEmpty(match?.home?.image)}" src="/images/user.png" width="24" height="24" class="rounded-circle border"/>
                                <img th:if="${!#strings.isEmpty(match?.home?.image)}" th:src="${match?.home?.image}" width="24" height="24" class="rounded-circle border"/>
                            </td>
                            <td class="round-robin__name">
                                <span id="h" th:text="${match?.home?.name}"></span>
                            </td>
                            <td class="round-robin__score">
                                <span id="hs" class="tournament-bracket__number" th:text="${match?.homeScore} ?: '-'">4</span>
                            </td>
                        </tr>
                        <tr class="round-robin__team" th:classappend="${match.homeScore < match.awayScore} ? 'round-robin__team--winner'"
                            tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" th:title="${match?.away?.name}">
                            <td class="round-robin__image">
                                <img th:if="${#strings.isEmpty(match?.away?.image)}" src="/images/user.png" width="24" height="24" class="rounded-circle border"/>
                                <img th:if="${!#strings.isEmpty(match?.away?.image)}" th:src="${match?.away?.image}" width="24" height="24" class="rounded-circle border"/>
                            </td>
                            <td class="round-robin__name">
                                <span id="a" th:text="${match?.away?.name}"></span>
                            </td>
                            <td class="round-robin__score">
                                <span id="as" class="round-robin__number" th:text="${match?.awayScore} ?: '-'">1</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row justify-content-center pt-3">
        <div class="col-sm-10">
            <div id="map" style="width: 100%; height: 600px;"></div>
        </div>
    </div>-->
    <div class="row justify-content-center">
        <form class="need-validation col-sm-10" id="match-form" style="display: none">
            <div class="mb-3">
                <label th:for="homeScore">홈팀 스코어</label>
                <input type="number" id="homeScore" name="homeScore" th:value="${match.homeScore}"
                       class="form-control" aria-describedby="homeScoreHelp" min="0">
                <small id="homeScoreHelp" class="form-text text-muted">
                    홈팀 스코어를 입력하세요. 0이상의 값이어야 합니다.
                    홈팀 스코어와 어웨이 스코어를 빈칸으로 입력시 경기 결과가 초기화됩니다.
                </small>
            </div>
            <div class="mb-3">
                <label th:for="awayScore">어웨이팀 스코어</label>
                <input type="number" id="awayScore" name="awayScore" th:value="${match.awayScore}"
                       class="form-control" aria-describedby="awayScoreHelp" min="0">
                <small id="awayScoreHelp" class="form-text text-muted">
                    어웨이팀 스코어를 입력하세요. 0이상의 값이어야 합니다.
                    홈팀 스코어와 어웨이 스코어를 빈칸으로 입력시 경기 결과가 초기화됩니다.
                </small>
            </div>
            <div class="mb-3">
                <label th:for="startDateTime">경기 시작 일시</label>
                <input id="startDateTime" type="datetime-local" name="startDateTime" th:value="${match.startDateTime}"
                       class="form-control" aria-describedby="startDateTimeHelp">
                <small id="startDateTimeHelp" class="form-text text-muted">
                    경기 시작 일시를 입력하세요.
                </small>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-outline-dark" type="button" id="save-button">저장</button>
                    <button class="btn btn-outline-dark" type="reset" id="cancel-button">취소</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row pt-3 justify-content-center">
        <div class="col-sm-10 justify-content-center">
            <button sec:authorize="isAuthenticated()" th:if="${room.isAdmin(#authentication.principal)}"
                    class="btn btn-outline-dark" id="match-button">
                경기 정보 수정
            </button>
            <a class="btn btn-outline-dark" id="quit-button" th:href="@{|/rooms/${roomId}/competitions/${competitionId}|}">
                목록
            </a>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div> <!-- /container -->
<div th:replace="fragments.html :: date-time"></div>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script type="application/javascript" th:inline="javascript">
    $(function () {
        let $matchBtn = $('#match-button');
        let $quitBtn = $('#quit-button');
        let $matchForm = $('#match-form');
        let $saveBtn = $('#save-button');
        let $cancelBtn = $('#cancel-button');
        let $homeScore = $('#hs');
        let $awayScore = $('#as');
        let $startDateTime = $('#sdt');
        let $home = $('#h');
        let $away = $('#a');
        $matchBtn.click(function () {
            $matchBtn.hide();
            $quitBtn.hide();
            $matchForm.show();
        });

        $cancelBtn.click(function () {
            $matchForm.hide();
            $matchBtn.show();
            $quitBtn.show();
        });

        $saveBtn.click(function () {
            $matchForm.hide();
            $matchBtn.show();
            $quitBtn.show();
            var data = {};
            $matchForm.serializeArray().map(function (x){data[x.name] = x.value});
            console.log(data);
            $.ajax({
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/rooms/[[${roomId}]]/competitions/[[${competitionId}]]/matches/[[${matchId}]]",
                data: JSON.stringify(data),
            }).done(function (data, status) {
                console.log("${data} and status is ${status}");
            })
            if (data['homeScore']) {
                $homeScore.text(data['homeScore']);
            } else {
                $homeScore.text('-');
            }
            if (data['awayScore']) {
                $awayScore.text(data['awayScore']);
            } else {
                $awayScore.text('-');
            }
            if (data['startDateTime'] && $startDateTime.hasClass('text-warning')) {
                console.log('datetime created')
                $startDateTime.removeClass('text-warning');
                $startDateTime.addClass('text-dark date-time');
                $startDateTime.text(data['startDateTime']);
                $(".date-time").text(function(index, dateTime) {
                    return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
                });
            }
            else if (!data['startDateTime'] && !$startDateTime.hasClass('text-warning')) {
                console.log('datetime removed');
                $startDateTime.removeClass('text-dark date-time');
                $startDateTime.addClass('text-warning');
                $startDateTime.text('시간 미정');
            } else {
                $startDateTime.text(data['startDateTime']);
                $(".date-time").text(function(index, dateTime) {
                    return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
                });
            }
        });
    })
</script>
<!--<script type="text/javascript" th:inline="javascript">
    var longitude = [[${locationForm.longitude}]];
    var latitude = [[${locationForm.latitude}]];
    var jibunAddress = [[${locationForm.jibunAddress}]];
    var roadAddress = [[${locationForm.roadAddress}]];
    var current = new naver.maps.LatLng(latitude, longitude);
    var map = new naver.maps.Map("map", {
        center: current,
        zoom: 15,
        mapTypeControl: true
    });

    var infoWindow = new naver.maps.InfoWindow({
        anchorSkew: true
    });
    var htmlAddresses = [];
    var point = new naver.maps.Point(longitude, latitude);
    if (jibunAddress) {
        htmlAddresses.push('[지번 주소] ' + jibunAddress);
    }
    if (roadAddress) {
        htmlAddresses.push('[도로명 주소] ' + roadAddress);
    }
    htmlAddresses.push('[좌표] 위도 : ' + latitude + ', 경도 : ' + longitude);
    map.setCursor('pointer');
    infoWindow.setContent([
        '<div style="padding:10px;min-width:200px;line-height:150%;">',
        htmlAddresses.join('<br />'),
        '</div>'
    ].join('\n'));
    infoWindow.open(map, point);
</script>-->
</body>
</html>