<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<svg th:replace="fragments.html::svg-symbols"/>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-lg-2">
            <div th:replace="fragments.html :: settings-menu(currentMenu='account')"></div>
        </div>
        <div class="col-lg-8">
            <div th:replace="fragments.html :: message"></div>
            <div class="row">
                <h2 class="col-12">이름 변경</h2>
            </div>
            <div class="row">
                <form class="needs-validation col-12 mb-3" th:object="${nameForm}" th:action method="post" novalidate>
                    <div class="mb-3">
                        <label th:for="name" class="form-label" hidden>이름</label>
                        <input type="text" th:field="*{name}" class="form-control"
                               aria-describedby="nameHelp">
                        <div id="nameHelp" class="form-text">공백없이 문자와 숫자로만 3자 이상 20자 이내로 입력하세요.</div>
                        <div class="invalid-feedback">이름을 입력하세요.</div>
                        <div class="form-text text-danger" th:errors="*{name}">nickname Error
                        </div>
                    </div>
                    <div class="mb-3">
                        <label th:for="password" class="form-label" hidden>비밀번호</label>
                        <input type="password" th:field="*{password}" class="form-control"
                               aria-describedby="passwordHelp">
                        <div id="passwordHelp" class="form-text">이름을 변경하시려면 비밀번호를 입력하세요.</div>
                        <div class="invalid-feedback">비밀번호를 입력하세요.</div>
                        <div class="form-text text-danger" th:errors="*{password}">password Error
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">변경하기</button>
                </form>
            </div>
            <hr/>
            <!--<div class="row">
                <h2 class="col-sm-12 mt-3">회원 탈퇴</h2>
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg th:replace="fragments.html::symbol-danger"/>
                    <div>
                        회원 탈퇴를 하시면 회원 정보를 복구하실 수 없습니다.
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <h2 class="text-danger">회원 탈퇴</h2>
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg th:replace="fragments.html::symbol-danger"/>
                        <div>
                            회원 탈퇴를 하시면 회원 정보를 복구하실 수 없습니다.
                        </div>
                    </div>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#remove">탈퇴하기</button>
                </div>
            </div>
            <div class="modal fade" id="remove" tabindex="-1" role="dialog" aria-labelledby="removeTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!--<div class="modal-header">
                            <h5 class="modal-title" id="removeTitle"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>-->
                        <div class="modal-body">
                            <p>정말로 회원 탈퇴 하시겠습니까?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            <form th:action th:method="delete">
                                <button class="btn btn-danger" type="submit" aria-describedby="submitHelp">탈퇴</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div> <!-- /container -->
<div th:replace="fragments.html :: date-time"></div>
<script th:replace="fragments.html::form-validation"></script>
</body>
</html>