<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<svg th:replace="fragments.html::svg-symbols"/>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-lg-2">
            <div th:replace="fragments.html :: settings-menu (currentMenu='profile')"></div>
        </div>
        <div class="col-lg-8">
            <div th:replace="fragments.html :: message"></div>
            <div class="row mt-3">
                <h2 class="col-sm-12">프로필 수정</h2>
            </div>
            <div class="row mt-3">
                <form class="col" action="#" th:action th:object="${profile}" method="post" enctype="multipart/form-data" novalidate>
                    <div class="card text-center mb-3">
                        <div class="card-header">
                            프로필 이미지
                        </div>
                        <div id="current-profile-image" class="mt-3">
                            <img th:if="${#strings.isEmpty(account.image)}"
                                 src="/images/user.png" width="125" height="125" class="rounded-circle border"/>
                            <img th:if="${!#strings.isEmpty(account.image)}" class="rounded-circle border"
                                 th:src="|/img/${account.image}|"
                                 width="125" height="125" alt="name" th:alt="${account.name}"/>
                        </div>
                        <div id="new-profile-image" class="mt-3" style="display: none"></div>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="file" class="form-control" id="file" name="file">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="bio">소개</label>
                        <input id="bio" type="text" th:field="*{bio}" class="form-control" aria-describedby="bioHelp" required/>
                        <small id="bioHelp" class="form-text text-muted">
                            30자 이내로 입력하세요.
                        </small>
                        <small class="form-text text-danger" th:errors="*{bio}">소개 길이 오류</small>
                    </div>
                    <div class="mb-3">
                        <label th:for="password">현재 비밀번호</label>
                        <input type="password" th:field="*{password}" class="form-control" aria-describedby="passwordHelp" required/>
                        <small id="passwordHelp" class="form-text text-muted">
                            프로필을 수정하시려면 현재 비밀번호를 입력하세요.
                        </small>
                        <small class="form-text text-danger" th:errors="*{password}">비밀번호 오류</small>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary bg-gradient" type="submit" aria-describedby="submitHelp">수정하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div> <!-- /container -->
<div th:replace="fragments.html :: date-time"></div>
<script th:replace="fragments.html :: form-validation"></script>
<script type="application/javascript">
    const MAX_WIDTH = 125;
    const MAX_HEIGHT = 125;
    const MIME_TYPE = "image/jpeg";
    const QUALITY = 1;
    const imageFile = document.getElementById('file');

    imageFile.addEventListener('change', e => {
        const file = e.target.files[0];
        const blobURL = URL.createObjectURL(file);
        const img = new Image();
        img.src = blobURL;
        img.onerror = function () {
            URL.revokeObjectURL(this.src);
            // Handle the failure properly
            console.log("Cannot load image");
        };
        img.onload = function () {
            URL.revokeObjectURL(this.src);
            const [newWidth, newHeight] = calculateSize(img, MAX_WIDTH, MAX_HEIGHT);
            const canvas = document.createElement("canvas");
            canvas.width = newWidth;
            canvas.height = newHeight;
            const ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0, newWidth, newHeight);
            canvas.toBlob(
            (blob) => {
                // Handle the compressed image. es. upload or save in local state
                displayInfo('Original file', file);
                console.log("file :" + file);
                displayInfo('Compressed file', blob);
                console.log("blob :" + blob);
                setFiles(imageFile, [new File([blob], file.name, { type: blob.type })]);
            },
                MIME_TYPE,
                QUALITY
            );
            let newProfileImage = document.querySelector('#new-profile-image');
            let currentProfileImage = document.querySelector('#current-profile-image');

            newProfileImage.innerHTML = "";
            newProfileImage.appendChild(canvas);
            newProfileImage.style.display = "";
            currentProfileImage.style.display = "none";
        };
    });

    function calculateSize(img, maxWidth, maxHeight) {
        let width = img.width;
        let height = img.height;

        // calculate the width and height, constraining the proportions
        if (width > height) {
            if (width > maxWidth) {
                height = Math.round((height * maxWidth) / width);
                width = maxWidth;
            }
        } else {
            if (height > maxHeight) {
                width = Math.round((width * maxHeight) / height);
                height = maxHeight;
            }
        }
        return [width, height];
    }

    function displayInfo(label, file) {
        const p = document.createElement('p');
        p.innerText = `${label} - ${readableBytes(file.size)}`;
        document.getElementById('new-profile-image').appendChild(p);
    }

    function readableBytes(bytes) {
        const i = Math.floor(Math.log(bytes) / Math.log(1024)),
            sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

        return (bytes / Math.pow(1024, i)).toFixed(2) + ' ' + sizes[i];
    }

    /**
     * Set files for an input
     * @param {HTMLInputElement} input The input [type="file"] element
     * @param {File[]} data The array of compressed files
     */
    function setFiles(input, data = []) {
        // Supported only by modern browsers
        const dt = new ClipboardEvent('').clipboardData || new DataTransfer();

        for (const file of data) {
            dt.items.add(file);
        }

        if (dt.files.length) {
            input.files = dt.files;
        }
    }
</script>
</body>
</html>