<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div th:replace="fragments.html :: room-info"></div>
    <div th:replace="fragments.html :: room-menu ('competitions')"></div>
    <div th:replace="fragments.html :: competition-list (competitionList=${competitions.getContent()})"></div>
    <div class="row justify-content-center pt-3">
        <div th:replace="fragments.html :: page (pages=${competitions}, url='/rooms/' + ${room.id} + '/competitions')"></div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div> <!-- /container -->
<div th:replace="fragments.html :: date-time"></div>
<script th:replace="fragments.html :: tooltip"></script>
</body>
</html>