<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .container {
        max-width: 560px;
    }
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
</style>
<body>
<div class="container" style="max-width: 600px">
    <div th:replace="fragments/bodyheader" :: bodyheader />
    <div class="py-5 text-center">
        <h2>대회 만들기</h2>
    </div>
    <form th:action="@{/room/create}" th:object="${form}" method="post">
        <div>
            <label th:for="title">대회 이름</label>
            <input type="text" th:field="*{title}" placeholder="대회 이름을 입력하세요"
                   class="form-control" th:errorclass="field-error">
            <p th:errors="*{title}" class="field-error">대회 이름 오류</p>
        </div>

        <div class="py-2">
            <div>대회 방식</div>
            <select th:field="*{roomType}" class="form-select-sm"
                    onchange="updateForm()">
                <option th:each="roomType : ${T(hongik.ce.jolup.domain.room.RoomType).values()}" th:value="${roomType.name()}"
                        th:text="${roomType.description}" th:selected="${roomType == form.roomType}"></option>
            </select>
        </div>

        <div class="py-2">
            <div>대회 참여 인원</div>
            <select th:field="*{memNum}" class="form-select-sm"
                    onchange="updateForm()">
            <!--th:onchange="|location.href='@{/room/create?title=' + form.title.value
            + '&roomType='+ form.roomType.value + '&memNum=' + this.value +  '}'|">-->
                <option th:each="memNum : ${#numbers.sequence(2, 20)}" th:value="${memNum}" th:text="${memNum}"
                        th:selected="${memNum} == ${form.memNum}"></option>
            </select>
        </div>

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>참가자 아이디</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="email : *{emails}">
                    <td th:text="'참가자' + ${emailStat.count}"></td>
                    <td>
                        <input type="text" th:field="*{emails[__${emailStat.index}__]}"
                               th:errorclass="field-error" class="form-control"/>
                        <p th:errors="*{emails[__${emailStat.index}__]}" class="field-error">이메일 형식이 올바르지 않음</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-lg">생성</button>
                <a th:href="@{/room}" class="btn btn-warning btn-lg">취소</a>
            </div>
        </div>

    </form>
    <div th:replace="fragments/footer" :: footer />
</div> <!-- /container -->
</body>

<script th:inline="javascript">
    function updateForm() {
        let title = document.getElementById("title").value;
        let roomType = document.getElementById("roomType").value;
        let memNum = document.getElementById("memNum").value;
        let emails = []
        for (var i = 0; i < memNum; i++) {
            if (document.getElementById("emails" + String(i))) {
                emails.push(document.getElementById("emails" + String(i)).value)
            }
            else {
                emails.push("")
            }
        }
        location.href="/room/create?title=" + title + "&roomType=" + roomType + "&memNum=" + memNum + "&emails=" + emails;
    }
</script>
</html>