<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {border-color: #bd2130;}
    .ok_msg{color: #0a53be;}
    .error_msg{color: #bd2130;}
</style>
<body>
<div class="container" style="max-width: 600px">
    <div th:replace="fragments/bodyheader" :: bodyheader />
    <div class="py-5 text-center">
        <h2>대회 만들기</h2>
    </div>
    <form th:action th:object="${form}" method="post">
        <div>
            <label th:for="title">대회 이름</label>
            <input type="text" th:field="*{title}" placeholder="대회 이름을 입력하세요"
                   th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error_msg">대회 이름 형식이 올바르지 않음</p>
        </div>

        <div class="py-2">
            <div>대회 방식</div>
            <select th:field="*{roomType}" class="form-select-sm">
                <option th:each="roomType : ${roomTypes}" th:value="${roomType.name()}"
                        th:text="${roomType.description}"></option>
            </select>
        </div>

        <div class="py-2">
            <div>대회 참여 인원</div>
            <select th:field="*{memNum}" class="form-select-sm"
                    th:onchange="|location.href=('/room/create?title=' + form.title.value
                     + '&roomType=' + form.roomType.value + '&memNum=' + this.value)|">
                <option th:each="i : ${#numbers.sequence(2, 20)}" th:value="${i}" th:text="${i}"
                        th:selected="${i == form.memNum}"></option> <br>
            </select> <br>
        </div>

        <div class="form-group">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>참가자 아이디</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="email, itemStat : *{emails}">
                    <td th:text="'참가자' + ${itemStat.index+1}"></td>
                    <td><input type="text" th:field="*{emails[__${itemStat.index}__]}"
                               th:class="${#fields.hasErrors('emails[__${itemStat.index}__]')}? 'form-control fieldError': 'form-control'"/>
                        <p th:if="${#fields.hasErrors('emails[__${itemStat.index}__]')}" th:errors="*{emails[__${itemStat.index}__]}" class="error_msg">이메일 형식이 올바르지 않음</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-primary">생성</button>
                <a th:href="@{/room/list}" class="btn btn-warning">취소</a>
            </div>
        </div>

    </form>
    <div th:replace="fragments/footer" :: footer />
</div> <!-- /container -->
</body>
</html>