<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body class="d-flex flex-column min-vh-100 bg-light">
<div th:replace="fragments/bodyheader" :: bodyheader />
<div class="container">
    <div class="py-5 text-center">
        <h2>방 만들기</h2>
    </div>
    <div class="row mx-auto justify-content-center">
        <form class="col-md-6 mx-auto" th:action th:object="${roomForm}" method="post">
            <div class="mb-3">
                <label th:for="title">방명</label>
                <input type="text" th:field="*{name}" placeholder="방 이름을 입력하세요"
                       class="form-control" th:errorclass="is-invalid" autofocus="autofocus">
                <p th:errors="*{name}" class="text-danger">방명 오류</p>
            </div>

            <div class="mb-3">
                <label th:for="roomSetting">공개 여부</label>
                <select th:field="*{access}" class="form-select" th:errorclass="border-danger">
                    <option value="">==공개 여부 선택==</option>
                    <option th:each="access : ${T(hongik.ce.jolup.domain.room.Access).values()}" th:value="${access.name()}"
                            th:text="${access.description}"></option>
                </select>
                <p th:errors="*{access}" class="text-danger">공개 여부 오류</p>
            </div>
            <div class="mb-4"></div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-dark">생성</button>
                    <button type="button" class="btn btn-outline-dark" th:onclick="|location.href='@{/}'|">취소</button>
                </div>
            </div>
        </form>
    </div>
</div> <!-- /container -->
<div th:replace="fragments/footer" :: footer />
</body>
</html>