<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <th:block th:replace="fragments/header :: header"></th:block>
    <table>
        <thead>
        <tr>
            <th>제목</th>
            <th>타입</th>
            <th>인원수</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${roomDto.subject}"></td>
            <td th:text="${roomDto.roomType}"></td>
            <td th:text="${roomDto.memNum}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>