<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="d-flex flex-column min-vh-100 bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<svg th:replace="fragments.html::svg-symbols"/>
<div class="container">
    <div th:replace="fragments.html :: room-info"></div>
    <div th:replace="fragments.html :: room-menu (roomMenu)"></div>
    <div class="row">
        <div class="col-md-2">
            <h5 class="font-weight-light">방명</h5>
            <span class="col-4" th:text="${room.name}"></span>
            <h5 class="mt-3 font-weight-light">공개 여부</h5>
            <span class="col-4" th:text="${room.access}"></span>
            <h5 class="mt-3 font-weight-light">인원수</h5>
            <span class="col-4" th:text="${joins.getTotalElements()}"></span>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-dark pull-right" th:onclick="|location.href='@{/}'|">목록</button>
                    <button type="button" class="btn btn-outline-dark pull-right" th:onclick="|location.href='@{|/rooms/${room.id}/update|}'|"
                            th:if="${myJoin ne null and (myJoin.grade.name() eq 'ADMIN')}">수정</button>
                    <form class="pull-right" th:action="@{|/rooms/${room.id}|}" th:method="delete">
                        <button class="btn btn-outline-danger" type="submit"
                                th:if="${myJoin ne null and (myJoin.grade.name() eq 'ADMIN')}">삭제</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h5 class="font-weight-light">대회</h5>
            <div class="row justify-content-center pt-3">
                <div th:replace="fragments/competitionList::competition-List (competitions=${competitions})"></div>
            </div>
            <button type="button" class="btn btn-outline-dark pull-right" th:if="${myJoin ne null and (myJoin.grade.name() eq 'ADMIN')}"
                    th:onclick="|location.href='@{|/rooms/${room.id}/competitions/create|}'|">대회 만들기</button>
            <div class="center text-center">
                <nav aria-label="Page-navigation">
                    <ul class="pagination justify-content-center"
                        th:with="start=${T(java.lang.Math).floor(competitions.number/5)*5 + 1},
                    last=(${start + 4 < competitions.totalPages ? start + 4 : competitions.totalPages})">
                        <li>
                            <a th:href="@{|/rooms/${room.id}|(join_page=${joins.number + 1}, competition_page=1)}" aria-label="First">
                                <span aria-hidden="true"><<</span>
                            </a>
                        </li>

                        <li th:class="${competitions.first} ? 'disabled'">
                            <a th:href="${competitions.first} ? '#' :@{|/rooms/${room.id}|(join_page=${joins.number + 1}, competition_page=${competitions.number})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <li th:each="page: ${#numbers.sequence(start, last, 1)}" th:class="${page == competitions.number + 1} ? 'active'">
                            <a th:text="${page}" th:href="@{|/rooms/${room.id}|(join_page=${joins.number + 1}, competition_page=${page})}"></a>
                        </li>

                        <li th:class="${competitions.last} ? 'disabled'">
                            <a th:href="${competitions.last} ? '#' : @{|/rooms/${room.id}|(join_page=${joins.number + 1}, competition_page=${competitions.number + 2})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>

                        <li>
                            <a th:href="@{|/rooms/${room.id}|(join_page=${joins.number + 1}, competition_page=${competitions.totalPages})}" aria-label="Last">
                                <span aria-hidden="true">>></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-3">
            <h5 class="font-weight-light">참여자</h5>
            <div class="list-group" th:if="${!#lists.isEmpty(joins)}">
                <a href="#" th:href="@{|/rooms/${room.id}/joins/${join.id}|}" th:text="${join.member.name}"
                   class="list-group-item list-group-item-action" th:each="join: ${joins}">
                </a>
            </div>
            <button type="button" class="btn btn-outline-dark pull-right" th:onclick="|location.href='@{|/rooms/${room.id}/invite|}'|"
                    th:if="${myJoin ne null and (myJoin.grade.name() ne 'USER')}">초대</button>
            <div class="center text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center"
                        th:with="start=${T(java.lang.Math).floor(joins.number/5)*5 + 1},
                    last=(${start + 4 < joins.totalPages ? start + 4 : joins.totalPages})">
                        <li>
                            <a th:href="@{|/rooms/${room.id}|(join_page=1, competition_page=${competitions.number + 1})}" aria-label="First">
                                <span aria-hidden="true"><<</span>
                            </a>
                        </li>

                        <li th:class="${joins.first} ? 'disabled'">
                            <a th:href="${joins.first} ? '#' :@{|/rooms/${room.id}|(join_page=${joins.number}, competition_page=${competitions.number + 1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <li th:each="page: ${#numbers.sequence(start, last, 1)}" th:class="${page == joins.number + 1} ? 'active'">
                            <a th:text="${page}" th:href="@{|/rooms/${room.id}|(join_page=${page}, competition_page=${competitions.number + 1})}"></a>
                        </li>

                        <li th:class="${joins.last} ? 'disabled'">
                            <a th:href="${joins.last} ? '#' : @{|/rooms/${room.id}|(join_page=${joins.number + 2}, competition_page=${competitions.number + 1})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>

                        <li>
                            <a th:href="@{|/rooms/${room.id}|(join_page=${joins.totalPages}, competition_page=${competitions.number + 1})}" aria-label="Last">
                                <span aria-hidden="true">>></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div> <!-- /container -->
<div th:replace="fragments.html :: footer"></div>
</body>
</html>