<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="d-flex flex-column min-vh-100 bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div class="py-5 text-center">
        <h2>친구 초대</h2>
    </div>
    <div class="row mx-auto justify-content-center" th:if="${members.size() > 0}">
        <form class="col-md-6 mx-auto" th:action th:object="${inviteForm}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
            </div>
            <div class="mb-3">
                <div class="fw-bold mb-1">친구 목록</div>
                <div th:each="member : ${members}" class="form-check form-check-inline">
                    <input type="checkbox" th:field="*{members}" th:value="${member.id}"
                           class="form-check-input">
                    <label class="flex-shrink-0 form-check-label" th:for="${#ids.prev('members')}">
                        <svg th:if="${#strings.isEmpty(member.image)}" th:data-jdenticon-value="${member.name}" width="40" height="40" class="rounded border bg-light me-3"></svg>
                        <img th:if="${!#strings.isEmpty(member.image)}" th:src="${member.image}" width="40" height="40" class="rounded border me-3"/>
                        <b th:text="${member.name}">이름</b>
                    </label>
                </div>
                <p th:errors="*{members}" class="text-danger">오류</p>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-dark">초대하기</button>
                    <button type="button" class="btn btn-outline-dark" th:onclick="|location.href='@{|/rooms/${id}|}'|">취소</button>
                </div>
            </div>
        </form>
    </div>
    <div class="text-center" th:if="${members.size() == 0}">
        <p class="lead text-muted">
            초대 가능한 친구가 없습니다.<br/>
        </p>
        <p>
            <a th:href="@{'/rooms/' + ${id}}" class="btn btn-primary my-2">돌아가기</a>
        </p>
    </div>
</div> <!-- /container -->
<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: date-time"></div>
</body>
</html>