<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyheader" :: bodyheader />
    <div class="py-5 text-center">
        <h1><span class="text-black mx-2" sec:authentication="name">사용자</span>님의 방 목록</h1>
    </div>
    <hr class="my-4">
    <a class="btn btn-info" th:href="@{/rooms/create}" role="button" style="float:right;">방 만들기</a>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>구분</th>
                <!--                <th>방id</th>-->
                <th>제목</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${belongs.isEmpty()}">
                <td class="text-center" colspan="5">방이 존재하지 않습니다.</td>
            </tr>
            <tr th:each="belong : ${belongs}">
                <td th:text="${belongStat.count}"></td>
                <td th:text="${belong.roomDto.title}"></td>
                <td>
                    <div>
                        <form class="form-check-inline my-2 my-lg-0" th:action="@{|/rooms/${belong.roomDto.id}|}" method="post">
                            <a class="btn btn-primary my-2 my-sm-0" th:href="@{|/rooms/${belong.roomDto.id}|}">조회</a>
                            <input type="hidden" th:if="${belong.belongType.name() == 'MASTER'}" name="_method" value="delete"/>
                            <button class="btn btn-danger my-2 my-sm-0" type="submit"
                                    th:if="${belong.belongType.name() == 'MASTER'}">삭제</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer" :: footer />
</div> <!-- /container -->
</body>
</html>