<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <th:block th:replace="fragments/header :: header"></th:block>
    <a class="btn btn-lg btn-info" th:href="@{/room/create}" role="button">방만들기</a> <br>
    <h1><span class="text-white mr-2 mx-2" sec:authentication="name">사용자</span>님 목록</h1>
    <table>
        <thead>
        <tr>
            <th>구분</th>
            <th>방id</th>
            <th>제목</th>
            <th>타입</th>
<!--            <th>참여인원수</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:if="${joins.empty}">
            <td colspan="4">No Rooms Available</td>
        </tr>
        <tr th:each="join, i : ${joins}">
            <td th:text="${i.index+1}"></td>
            <td>
                <a th:href="'/room/'+${join.getRoomDto().getId()}" th:text="${join.getRoomDto().getId()}"></a>
            </td>
            <td th:text="${join.getRoomDto().getTitle()}"></td>
            <td th:text="${join.getRoomDto().getRoomType().getDescription()}"></td>
<!--            <td th:text="${joinRoom.room.getMemNum()}"></td>-->
        </tr>
        </tbody>
    </table>
</div> <!-- /container -->
</body>
</html>