<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyheader" :: bodyheader />
    <div class="jumbotron">
        <a class="btn btn-lg btn-info" th:href="@{/room/create}" role="button">대회 만들기</a> <br>
        <h1><span class="text-black mr-2 mx-2" sec:authentication="name">사용자</span>님의 대회 목록</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>구분</th>
<!--                <th>방id</th>-->
                <th>제목</th>
                <th>타입</th>
                <th>참여인원수</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${joins.isEmpty()}">
                <td colspan="5">No Rooms Available</td>
            </tr>
            <tr th:each="join, i : ${joins}">
                <td th:text="${i.index+1}"></td>
                <!--<td>
                    <a th:href="'/room/'+${join.getRoomDto().getId()}" th:text="${join.getRoomDto().getId()}"></a>
                </td>-->
                <td th:text="${join.getRoomDto().getTitle()}"></td>
                <td th:text="${join.getRoomDto().getRoomType().getDescription()}"></td>
                <td th:text="${join.getRoomDto().getMemNum()}"></td>
                <td>
                    <div>
                        <a th:href="'/room/'+${join.getRoomDto().getId()}">
                            <button class="btn btn-primary">보기</button>
                        </a>
                        <form id="delete-form" th:action="@{'/room/' + ${join.getRoomDto().getId()}}" method="post">
                            <input type="hidden" name="_method" value="delete"/>
                            <button class="btn btn-warning" id="delete-btn">삭제</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer" :: footer />
</div> <!-- /container -->
</body>
</html>