<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<svg th:replace="fragments.html::svg-symbols"/>
<div class="container">
    <div th:replace="fragments.html :: room-info"></div>
    <div th:replace="fragments.html :: room-menu ('members')"></div>
    <div class="row px-3 justify-content-center">
        <ul class="list-unstyled col-10">
            <li class="d-flex mt-3" th:each="join: ${joins}"
                th:onclick="${join.member != null} ? |location.href='@{'/profile/' + ${join.member?.id}}'|">
                <div class="flex-shrink-0">
                    <svg th:if="${#strings.isEmpty(join.member?.image)}" th:data-jdenticon-value="${join.member?.name}" width="64" height="64" class="rounded border bg-light me-3"></svg>
                    <img th:if="${!#strings.isEmpty(join.member?.image)}" th:src="${join.member?.image}" width="64" height="64" class="rounded border me-3"/>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5 class="mt-0 mb-1">
                        <span th:text="${join.member?.name ?: '(알수없음)'}"></span>
                        <span th:if="${join.grade?.name() == 'ADMIN'}" class="badge bg-primary">방장</span>
                    </h5>
                    <span th:text="${join.member?.bio}"></span>
                </div>
            </li>
        </ul>
    </div>
    <div th:replace="fragments.html :: page (pages=${joins}, url='/rooms/' + ${room.id} + '/members')"></div>
    <div th:replace="fragments.html :: footer"></div>
</div> <!-- /container -->
<div th:replace="fragments.html :: date-time"></div>
<script th:replace="fragments.html :: tooltip"></script>
</body>
</html>