<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div th:replace="fragments.html :: room-info"></div>
    <div th:replace="fragments.html :: room-menu ('members')"></div>
    <div class="row px-3 justify-content-center">
        <ul class="list-unstyled col-10">
            <li class="d-flex mt-3" th:each="join: ${joins}">
                <div class="flex-shrink-0">
                    <a class="text-decoration-none" href="#" th:href="${join.account != null} ? @{'/profile/' + ${join.account?.id}}">
                        <img th:if="${#strings.isEmpty(join.account?.image)}" src="/images/user.png" width="64" height="64" class="rounded-circle border me-3"/>
                        <img th:if="${!#strings.isEmpty(join.account?.image)}" th:src="${join.account?.image}" width="64" height="64" class="rounded-circle border me-3"/>
                    </a>
                </div>
                <div class="flex-grow-1 ms-3">
                    <a class="text-decoration-none" href="#" th:href="${join.account != null} ? @{'/profile/' + ${join.account?.id}}">
                        <h5 class="mt-0 mb-1">
                            <span th:text="${join.account?.name ?: '(알수없음)'}"></span>
                            <span th:if="${join.grade?.name() == 'ADMIN'}" class="badge bg-dark">방장</span>
                        </h5>
                        <span th:text="${join.account?.bio}"></span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div th:replace="fragments.html :: page (pages=${joins}, url='/rooms/' + ${room.id} + '/members')"></div>
    <div th:replace="fragments.html :: footer"></div>
</div> <!-- /container -->
<div th:replace="fragments.html :: date-time"></div>
<script th:replace="fragments.html :: tooltip"></script>
</body>
</html>