<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="d-flex flex-column min-vh-100 bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<svg th:replace="fragments.html::svg-symbols"/>
<div class="container">
    <div th:replace="fragments.html :: room-info"></div>
    <div th:replace="fragments.html :: room-menu ('info')"></div>
</div> <!-- /container -->
<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: date-time"></div>
<script th:replace="fragments.html :: tooltip"></script>
</body>
</html>