<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div class="py-5 text-center">
        <h2>대회 만들기</h2>
    </div>
    <div class="row mx-auto justify-content-center">
        <form class="col-md-6 mx-auto" th:action th:object="${competitionForm}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
            </div>
            <div class="mb-3">
                <label th:for="title">대회 이름</label>
                <input type="text" th:field="*{title}" placeholder="대회 이름을 입력하세요"
                       class="form-control" th:errorclass="is-invalid" autofocus="autofocus">
                <p th:errors="*{title}" class="text-danger">대회 이름 오류</p>
            </div>

            <div class="mb-3">
                <label th:for="type">대회 방식</label>
                <select th:field="*{type}" class="form-select" th:errorclass="border-danger">
                    <option th:value="SINGLE_ROUND_ROBIN">리그(단판)</option>
                    <option th:value="DOUBLE_ROUND_ROBIN">리그(홈 & 어웨이)</option>
                    <option th:value="SINGLE_ELIMINATION_TOURNAMENT">토너먼트</option>
                </select>
                <p th:errors="*{type}" class="text-danger">대회 방식 오류</p>
            </div>


            <div class="mb-3">
                <div class="fw-bold mb-1">참가자 선택</div>
                <div th:each="member : ${members}" class="form-check form-check-inline">
                    <input type="checkbox" th:field="*{members}" th:value="${member.id}"
                           class="form-check-input">
                    <label class="flex-shrink-0 form-check-label" th:for="${#ids.prev('members')}">
                        <svg th:if="${#strings.isEmpty(member.image)}" th:data-jdenticon-value="${member.name}" width="40" height="40" class="rounded border bg-light me-3"></svg>
                        <img th:if="${!#strings.isEmpty(member.image)}" th:src="${member.image}" width="40" height="40" class="rounded border me-3"/>
                        <b th:text="${member.name}">이름</b>
                    </label>
                </div>
                <p th:errors="*{members}" class="text-danger">참가자 오류</p>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-dark">대회 만들기</button>
                    <button type="button" class="btn btn-outline-dark" th:onclick="|location.href='@{|/rooms/${roomId}|}'|">취소</button>
                </div>
            </div>
        </form>
        <div class="mb-4"></div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>
<div th:replace="fragments.html :: date-time"></div>
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>