<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body class="d-flex flex-column min-vh-100 bg-light">
<div th:replace="fragments/bodyheader" :: bodyheader />
<div class="container">
    <div th:if="${message}" class="alert alert-info alert-dismissible show mt-3" role="alert">
        <span th:text="${message}">수정 완료</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-4">대회명</th>
            <th class="col-4">대회방식</th>
            <th class="col-4">참여자수</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-4" th:text="${competition.getTitle}"></td>
            <td class="col-4" th:text="${competition.type.description}"></td>
            <td class="col-4" th:text="${leagueTables.size()}"></td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-dark pull-right" th:onclick="|location.href='@{|/rooms/${roomId}|}'|">목록</button>
            <button type="button" class="btn btn-outline-dark pull-right" th:onclick="|location.href='@{|/rooms/${roomId}/competitions/${competitionId}/update|}'|"
                    th:if="${myJoin ne null and (myJoin.grade.name() eq 'ADMIN')}">수정</button>
            <form class="pull-right" th:action="@{|/rooms/${roomId}/competitions/${competitionId}|}" method="post">
                <input type="hidden" th:if="${myJoin ne null and (myJoin.grade.name() eq 'ADMIN')}" name="_method" value="delete"/>
                <button class="btn btn-outline-danger" type="submit"
                        th:if="${myJoin ne null and (myJoin.grade.name() eq 'ADMIN')}">삭제</button>
            </form>
        </div>
    </div>
    <div class="mb-4"></div>
    <!--<h1>대회참여자</h1>
    <table class="table table-light">
        <tbody>
        <tr th:each="join : ${joins}">
            <td th:text="|${join.member.email}(${join.member.name})|"></td>
        </tr>
        </tbody>
    </table>-->

    <div class="row justify-content-center">
        <table class="table table-hover">
            <h3>일정</h3>
            <tbody th:each="key : ${hashMap.keySet()}">
            <tr>
                <td class="col-2" th:text="|${key + 1}라운드|"></td>
                <td class="col-10">
                    <div class="row justify-content-center p-0 m-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="col-4">홈</th>
                                <th class="col-4">스코어</th>
                                <th class="col-4">어웨이</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="match : ${hashMap.get(key)}"
                                th:onclick="${match.home != null} and ${match.away != null} and ${myJoin ne null and (myJoin.grade.name() eq 'ADMIN')}? |location.href='@{|/rooms/${roomId}/competitions/${competitionId}/matches/${match.id}|}'| :_">
                                <td class="col-4" th:text="${match.home} ? |${match.home.email}(${match.home.name})| : '탈퇴한 사용자'">홈팀명</td>
                                <td class="col-4" th:text="|${match.homeScore}:${match.awayScore}|" th:class="${match.status.name() eq 'AFTER'}?'fw-bold'">스코어</td>
                                <td class="col-4" th:text="${match.away} ? |${match.away.email}(${match.away.name})| : '탈퇴한 사용자'">어웨이팀명</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="center text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center"
                    th:with="start=${T(java.lang.Math).floor(matches.number/5)*5 + 1},
                    last=(${start + 4 < matches.totalPages ? start + 4 : matches.totalPages})">
                    <li>
                        <a th:href="@{|/rooms/${roomId}/competitions/${competitionId}|(page=1)}" aria-label="First">
                            <span aria-hidden="true"><<</span>
                        </a>
                    </li>

                    <li th:class="${matches.first} ? 'disabled'">
                        <a th:href="${matches.first} ? '#' :@{|/rooms/${roomId}/competitions/${competitionId}|(page=${matches.number})}" aria-label="Previous" data-h>
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(start, last, 1)}" th:class="${page == matches.number + 1} ? 'active'">
                        <a th:text="${page}" th:href="@{|/rooms/${roomId}/competitions/${competitionId}|(page=${page})}"></a>
                    </li>

                    <li th:class="${matches.last} ? 'disabled'">
                        <a th:href="${matches.last} ? '#' : @{|/rooms/${roomId}/competitions/${competitionId}|(page=${matches.number + 2})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{|/rooms/${roomId}/competitions/${competitionId}|(page=${matches.totalPages})}" aria-label="Last">
                            <span aria-hidden="true">>></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row justify-content-center">
        <table class="table table-hover">
            <h3>순위</h3>
            <thead>
            <tr>
                <th class="col-1">#</th>
                <th class="col-3">회원명</th>
                <th class="col-1">경기수</th>
                <th class="col-1">승</th>
                <th class="col-1">무</th>
                <th class="col-1">패</th>
                <th class="col-1">승점</th>
                <th class="col-1">득점</th>
                <th class="col-1">실점</th>
                <th class="col-1">득실차</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rank : ${leagueTables}">
                <td class="col-1" th:text="${rankStat.count}"></td>
                <td class="col-3" th:text="${rank.member} ? ${rank.member.name} : '탈퇴한 사용자'"></td>
                <td class="col-1" th:text="${rank.win} + ${rank.draw} + ${rank.lose}"></td>
                <td class="col-1" th:text="${rank.win}"></td>
                <td class="col-1" th:text="${rank.draw}"></td>
                <td class="col-1" th:text="${rank.lose}"></td>
                <td class="col-1 fw-bolder" th:text="${rank.win * 3} + ${rank.draw}"></td>
                <td class="col-1" th:text="${rank.goalFor}"></td>
                <td class="col-1" th:text="${rank.goalAgainst}"></td>
                <td class="col-1" th:text="${rank.goalFor} - ${rank.goalAgainst}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Generate Report</a>
    </div>

    <div class="row">
        &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Earnings (Annual)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        &lt;!&ndash; Pending Requests Card Example &ndash;&gt;
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div> <!-- /container -->
<div th:replace="fragments/footer" :: footer />
</body>
</html>