<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-white">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div th:replace="fragments.html :: competition-info"></div>
    <div th:replace="fragments.html :: competition-menu (currentMenu='ranking')"></div>
    <div class="row mt-3 justify-content-center">
        <div class="col-10 py-3">
            <div class="table-responsive">
                <table class="table table-sm table-hover text-center">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>이름</th>
                        <th>경기수</th>
                        <th>승</th>
                        <th>무</th>
                        <th>패</th>
                        <th>승점</th>
                        <th>득점</th>
                        <th>실점</th>
                        <th>득실차</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr th:each="rank : ${ranking}">
                        <td th:text="${rankStat.count}"></td>
                        <td>
                            <a th:href="${rank.account != null} ? @{'/profile/' + ${rank?.account?.id}}" class="text-decoration-none">
                                <img th:if="${#strings.isEmpty(rank.account?.image)}"
                                     src="/images/user.png" width="24" height="24" class="rounded-circle border"/>
                                <img th:if="${!#strings.isEmpty(rank.account?.image)}"
                                     th:src="${rank.account?.image}" width="24" height="24" class="rounded-circle border"/>
                                <span class="text-dark" th:text="${rank?.account?.name}"></span>
                            </a>
                        </td>
                        <td th:text="${rank.win + rank.draw + rank.lose}"></td>
                        <td th:text="${rank.win}"></td>
                        <td th:text="${rank.draw}"></td>
                        <td th:text="${rank.lose}"></td>
                        <td class="fw-bolder" th:text="${rank.win * 3 + rank.draw}"></td>
                        <td th:text="${rank.goalFor}"></td>
                        <td th:text="${rank.goalAgainst}"></td>
                        <td th:text="${rank.goalFor - rank.goalAgainst}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div> <!-- /container -->
<script th:replace="fragments.html :: date-time"></script>
</body>
</html>