<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="d-flex flex-column min-vh-100 bg-light">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div th:replace="fragments.html :: competition-info"></div>
    <div class="row">
        <div class="col-lg-2">
            <div th:replace="fragments.html :: competition-menu (currentMenu='matches')"></div>
        </div>
        <div class="col-lg-10" th:if="${#strings.equals(type, 'LEAGUE')}">
            <div th:if="${matches.getTotalElements() == 0}" class="col">
                경기가 없습니다.
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" th:if="${matches.getTotalElements() > 0}">
                <div class="col mb-4" th:each="match: ${matches.getContent()}">
                    <a th:href="@{'/rooms/' + ${room.id} + '/competitions/' + ${competition.id} + '/matches/' + ${match.id}}" class="text-decoration-none">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <small th:text="${match.round + 1} + '라운드 / ' + ${match.number + 1} + '경기'">경기 정보</small>
                                <small th:if="${match.startDateTime == null}" class="text-warning">시간 미정</small>
                                <small th:if="${match.startDateTime != null}" class="date-time text-dark" th:text="${match.startDateTime}">경기 시간</small>
                            </div>
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col-4">
                                        <svg th:if="${#strings.isEmpty(match.home?.image)}" th:data-jdenticon-value="${match.home.name}" width="24" height="24" class="rounded border bg-light me-3"></svg>
                                        <img th:if="${!#strings.isEmpty(match.home?.image)}" th:src="${match.home.image}" width="24" height="24" class="rounded border me-3"/>
                                        <span th:text="${match.home?.name}"></span>
                                    </div>
                                    <div class="col-4">
                                        <span th:text="${match.homeScore} + ' : ' + ${match.awayScore}"></span>
                                    </div>
                                    <div class="col-4">
                                        <svg th:if="${#strings.isEmpty(match.away?.image)}" th:data-jdenticon-value="${match.away.name}" width="24" height="24" class="rounded border bg-light me-3"></svg>
                                        <img th:if="${!#strings.isEmpty(match.away?.image)}" th:src="${match.away.image}" width="24" height="24" class="rounded border me-3"/>
                                        <span th:text="${match.away?.name}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <nav th:if="${matches.getTotalElements() > 0}">
                <ul class="pagination justify-content-center"
                    th:with="start=${T(java.lang.Math).floor(matches.number/5)*5},
                    last=(${start + 4 < matches.totalPages - 1? start + 4 : matches.totalPages - 1})">
                    <li class="page-item" th:classappend="${!matches.hasPrevious()}? disabled">
                        <a th:href="@{'/rooms/' + ${room.id} + '/competitions/' + ${competition.id}(page=0)}" class="page-link" aria-disabled="true">
                            <<
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${matches.first}? disabled">
                        <a th:href="@{'/rooms/' + ${room.id} + '/competitions/' + ${competition.id}(page=${matches.number - 1})}"
                           class="page-link" aria-disabled="true">
                            <
                        </a>
                    </li>

                    <li class="page-item" th:class="${i == matches.number}? active"
                        th:each="i: ${#numbers.sequence(start, last)}">
                        <a th:text="${i + 1}" th:href="@{'/rooms/' + ${room.id} + '/competitions/' + ${competition.id}(page=${i})}"
                           class="page-link">1</a>
                    </li>

                    <li class="page-item" th:classappend="${matches.last}? disabled">
                        <a th:href="@{'/rooms/' + ${room.id} + '/competitions/' + ${competition.id}(page=${matches.number + 1})}" class="page-link">
                            >
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${!matches.hasNext()}? disabled">
                        <a th:href="@{'/rooms/' + ${room.id} + '/competitions/' + ${competition.id}(page=${matches.totalPages - 1})}"
                           class="page-link">
                            >>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-10 tournament-bracket tournament-bracket--rounded" th:if="${#strings.equals(type, 'TOURNAMENT')}">
            <div class="tournament-bracket__round" th:classappend="'tournament-bracket__round--' + ${#numbers.formatInteger(cnt, 0)}" th:each="key : ${#numbers.sequence(T(java.util.Collections).max(matches.keySet()), 0, -1)}"
                 th:with="cnt=${T(java.lang.Math).pow(2, key)}">
                <h3 class="tournament-bracket__round-title" th:text="${key == 0} ? '결승' : (${key == 1} ? '준결승' : (${key == 2} ? '8강' : (${key == 3} ? '16강' : (${key == 4} ? '32강' : '64강'))))"></h3>
                <ul class="tournament-bracket__list">
                    <li class="tournament-bracket__item" th:each="k : ${#numbers.sequence(0, cnt - 1, 1)}" th:with="match=${matches.get(key).get(k)}"
                        th:onclick="${match != null} ? |location.href='@{|/rooms/${room.id}/competitions/${competition.id}/matches/${match.id}|}'|" th:classappend="${match == null} ? 'my-hidden'">
                        <div class="tournament-bracket__match" tabindex="0">
                            <!--<table class="tournament-bracket__table">
                                &lt;!&ndash;<caption class="tournament-bracket__caption" th:if="${match != null}">
                                    <span th:if="${match.startDateTime == null}" class="text-warning">시간 미정</span>
                                    <span th:if="${match.startDateTime != null}" class="date-time text-dark" th:text="${match.startDateTime}">경기 시간</span>
                                </caption>
                                <caption class="tournament-bracket__caption my-hidden" th:if="${match == null}">
                                    <span>부전승</span>
                                </caption>&ndash;&gt;
                                &lt;!&ndash;<thead class="sr-only">
                                    <tr>
                                        <th>Team</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>&ndash;&gt;
                                <tbody class="tournament-bracket__content">
                                    <tr class="tournament-bracket__team" th:classappend="${match.homeScore > match.awayScore} ? 'tournament-bracket__team&#45;&#45;winner'" th:if="${match != null}">
                                        <td class="tournament-bracket__country">
                                            <span class="tournament-bracket__code" tabindex="0" data-bs-toggle="tooltip" data-placement="bottom"
                                                  th:title="${match?.home != null} ? ${match?.home?.name} : _" th:text="${match?.home != null} ? ${match?.home?.name} : _"></span>
                                            <svg th:if="${#strings.isEmpty(match?.home?.image)}" th:data-jdenticon-value="${match?.home != null ? match?.home?.name:_}" width="24" height="24" class="rounded border bg-light"></svg>
                                            <img th:if="${!#strings.isEmpty(match?.home?.image)}" th:src="${match?.home?.image}" width="24" height="24" class="rounded border"/>
                                        </td>
                                        <td class="tournament-bracket__score">
                                            <span class="tournament-bracket__number" th:text="${match.homeScore}">4</span>
                                        </td>
                                    </tr>
                                    <tr class="tournament-bracket__team my-hidden" th:if="${match == null}">
                                        <td class="tournament-bracket__country" th:with="m=${matches.get(key - 1).get(k / 2)}">
                                            <span class="tournament-bracket__code" th:text="${k % 2 == 0 ? m.home.name : m.away.name}"></span>
                                            <svg th:if="${#strings.isEmpty(k % 2 == 0 ? m?.home?.image : m?.away?.image)}" th:data-jdenticon-value="${k % 2 == 0 ? (m?.home != null ? m?.home?.name:_) : (m?.away != null ? m?.away?.name:_)}" width="24" height="24" class="rounded border bg-light"></svg>
                                            <img th:if="${!#strings.isEmpty(k % 2 == 0 ? m?.home?.image : m?.away?.image)}" th:src="${k % 2 == 0 ? m?.home?.image : m?.away?.image}" width="24" height="24" class="rounded border"/>
                                        </td>
                                        <td class="tournament-bracket__score">
                                            <span class="tournament-bracket__number">0</span>
                                        </td>
                                    </tr>
                                    <tr class="tournament-bracket__team" th:classappend="${match?.homeScore < match?.awayScore} ? 'tournament-bracket__team&#45;&#45;winner'" th:if="${match != null}">
                                        <td class="tournament-bracket__country">
                                            <span class="tournament-bracket__code" tabindex="0" data-bs-toggle="tooltip" data-placement="bottom"
                                                  th:title="${match?.away != null} ? ${match?.away?.name} : _" th:text="${match?.away != null} ? ${match?.away?.name} : _"></span>
                                            <svg th:if="${#strings.isEmpty(match?.away?.image)}" th:data-jdenticon-value="${match?.away != null ? match?.away?.name:_}" width="24" height="24" class="rounded border bg-light"></svg>
                                            <img th:if="${!#strings.isEmpty(match?.away?.image)}" th:src="${match?.away?.image}" width="24" height="24" class="rounded border"/>
                                        </td>
                                        <td class="tournament-bracket__score">
                                            <span class="tournament-bracket__number" th:text="${match?.awayScore}">1</span>
                                        </td>
                                    </tr>
                                    <tr class="tournament-bracket__team my-hidden" th:if="${match == null}">
                                        <td class="tournament-bracket__country">
                                            <span class="tournament-bracket__code"> </span>
                                            <svg th:data-jdenticon-value="${_}" width="24" height="24" class="rounded border bg-light"></svg>
                                        </td>
                                        <td class="tournament-bracket__score">
                                            <span class="tournament-bracket__number">0</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>-->
                            <table style="width: 100%; table-layout: fixed; border-spacing: 0;">
                                <tbody>
                                <tr>
                                    <td style="width: 64px; padding-left:24px;"></td>
                                    <td style="width: 64px;"></td>
                                    <td style="padding-left: 6px; width: 6px;"></td>
                                    <td style="width: 1px; padding: 0"></td>
                                    <td style="width: 104px;"></td>
                                    <td style="padding: 0"></td>
                                </tr>
                                <tr>
                                    <td style="color: #70757a;" colspan="6"></td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td style="background-color: #ecedef" rowspan="5"></td>
                                    <td rowspan="5" style="font-size: 14px; color: #202124; text-align: center; padding: 0; position: relative;">
                                        <div style="line-height: 1.4";>
                                            <div style="font-weight: normal;">
                                                <div style="font-size: 14px; color: #70757a; white-space: nowrap; vertical-align: middle;">
                                                    <span th:if="${match == null}" class="text-dark">부전승</span>
                                                    <span th:if="${match != null and match.startDateTime == null}" class="text-warning">시간 미정</span>
                                                    <span th:if="${match?.startDateTime != null}" class="day text-dark" th:text="${match?.startDateTime}">경기 날짜</span>
                                                </div>
                                                <div style="font-size: 14px; color: #70757a; white-space: nowrap; vertical-align: middle;">
                                                    <span th:if="${match?.startDateTime != null}" class="time text-dark" th:text="${match?.startDateTime}">경기 시간</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr style="height: 32px;">
                                    <td style="width: 64px; padding-left: 24px;">
                                        <svg th:if="${#strings.isEmpty(match?.home?.image)}" th:data-jdenticon-value="${match?.home?.name}" width="24" height="24" class="rounded border bg-light"></svg>
                                        <img th:if="${!#strings.isEmpty(match?.home?.image)}" th:src="${match?.home?.image}" width="24" height="24" class="rounded border"/>
                                    </td>
                                    <td style="padding: 0; font-size: 14px; line-height: 20px; color: #202124;">
                                        <div style="padding-left: 8px; text-align: right; float: right;">
                                            <div style="line-height: 20px;">
                                                <span th:text="${match?.homeScore}">4</span>
                                            </div>
                                        </div>
                                        <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            <span tabindex="0" data-bs-toggle="tooltip" data-placement="bottom"
                                                  th:title="${match?.home?.name}" th:text="${match?.home?.name}"></span>
                                            <span></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="height: 32px;">
                                    <td style="width: 64px; padding-left: 24px;">
                                        <svg th:if="${#strings.isEmpty(match?.away?.image)}" th:data-jdenticon-value="${match?.away?.name}" width="24" height="24" class="rounded border bg-light"></svg>
                                        <img th:if="${!#strings.isEmpty(match?.away?.image)}" th:src="${match?.away?.image}" width="24" height="24" class="rounded border"/>
                                    </td>
                                    <td style="padding: 0; font-size: 14px; line-height: 20px; color: #202124;">
                                        <div style="padding-left: 8px; text-align: right; float: right;">
                                            <div style="line-height: 20px;">
                                                <span th:text="${match?.awayScore}">1</span>
                                            </div>
                                        </div>
                                        <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            <span tabindex="0" data-bs-toggle="tooltip" data-placement="bottom"
                                                  th:title="${match?.away?.name}" th:text="${match?.away?.name}"></span>
                                            <span></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- /container -->
<div th:replace="fragments.html :: footer"></div>
<script th:replace="fragments.html :: date-time"></script>
<script th:replace="fragments.html :: tooltip"></script>
</body>
</html>