<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-white">
<div th:replace="fragments.html :: navigation-bar"></div>
<div class="container">
    <div th:replace="fragments.html :: competition-info"></div>
    <div th:replace="fragments.html :: competition-menu (currentMenu='matches')"></div>
    <div class="row mt-3 justify-content-center">
        <div class="col-sm-10 py-3 round-robin round-robin--rounded" th:if="${competition.isLeague()}">
            <div th:if="${matchPage.getTotalElements() == 0}" class="col">
                경기가 없습니다.
            </div>
            <div class="round-robin__round" th:classappend="'round-robin__round--' + ${key}" th:each="key : ${#numbers.sequence(first_round, last_round)}">
                <h3 class="round-robin__round-title" th:text="${key + 1} + '라운드'"></h3>
                <ul class="round-robin__list">
                    <li class="round-robin__item" th:each="match : ${matches.get(key)}">
                        <div class="round-robin__match" tabindex="0" th:onclick="${!match.closed} ? |location.href='@{|/rooms/${room.id}/competitions/${competition.id}/matches/${match.id}|}'|">
                            <table class="round-robin__table">
                                <caption class="round-robin__caption">
                                    <span th:if="${!match.closed}" th:class="${match.startDateTime} ? 'date-time text-dark' : 'text-warning'" th:text="${match.startDateTime} ?: _">시간 미정</span>
                                </caption>
                                <thead class="sr-only">
                                <tr>
                                    <th>Image</th>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                                </thead>
                                <tbody class="round-robin__content">
                                <tr class="round-robin__team" th:classappend="${match.homeScore < match.awayScore} ? 'text-muted'"
                                    tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" th:title="${match?.home?.name}">
                                    <td class="round-robin__image">
                                        <img th:if="${#strings.isEmpty(match?.home?.image)}" src="/images/user.png" width="24" height="24" class="rounded-circle border"/>
                                        <img th:if="${!#strings.isEmpty(match?.home?.image)}" th:src="|/img/${match?.home?.image}|" width="24" height="24" class="rounded-circle border"/>
                                    </td>
                                    <td class="round-robin__name">
                                        <span th:text="${match?.home?.name}"></span>
                                    </td>
                                    <td class="round-robin__score">
                                        <span class="tournament-bracket__number" th:text="${match?.finished} ? ${match.homeScore}: '-'">4</span>
                                    </td>
                                </tr>
                                <tr class="round-robin__team" th:classappend="${match.homeScore > match.awayScore} ? 'text-muted'"
                                    tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" th:title="${match?.away?.name}">
                                    <td class="round-robin__image">
                                        <img th:if="${#strings.isEmpty(match?.away?.image)}" src="/images/user.png" width="24" height="24" class="rounded-circle border"/>
                                        <img th:if="${!#strings.isEmpty(match?.away?.image)}" th:src="|/img/${match?.away?.image}|" width="24" height="24" class="rounded-circle border"/>
                                    </td>
                                    <td class="round-robin__name">
                                        <span th:text="${match?.away?.name}"></span>
                                    </td>
                                    <td class="round-robin__score">
                                        <span class="round-robin__number" th:text="${match?.finished} ? ${match.awayScore}: '-'">1</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row justify-content-center pt-3">
                <div th:replace="fragments.html :: page (pages=${matchPage}, url='/rooms/' + ${room.id} + '/competitions/' + ${competition.id})"></div>
            </div>
        </div>

        <div class="col-sm-10 tournament-bracket tournament-bracket--rounded" th:if="${competition.isTournament()}">
            <div class="tournament-bracket__round" th:classappend="'tournament-bracket__round--' + ${last_round - key}" th:each="key : ${#numbers.sequence(last_round, first_round, -1)}">
                <h3 class="tournament-bracket__round-title" th:text="${key == 0} ? '결승전' : (${key == 1} ? '준결승전': (${key == 2} ? '8강전' : (${key == 3} ? '16강전' : (${key == 4} ? '32강전' : (${key == 5} ? '64강전' : _)))))">라운드</h3>
                <ul class="tournament-bracket__list">
                    <li class="tournament-bracket__item" th:each="match : ${matches.get(key)}">
                        <div class="tournament-bracket__match" tabindex="0" th:onclick="${!match.closed} ? |location.href='@{|/rooms/${room.id}/competitions/${competition.id}/matches/${match.id}|}'|">
                            <table class="tournament-bracket__table">
                                <caption class="tournament-bracket__caption">
                                    <span th:if="${match.closed}">부전승</span>
                                    <span th:if="${!match.closed}" th:class="${match.startDateTime} ? 'date-time text-dark' : 'text-warning'" th:text="${match.startDateTime} ?: _">시간 미정</span>
                                </caption>
                                <thead class="sr-only">
                                <tr>
                                    <th>Image</th>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                                </thead>
                                <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team" th:classappend="${match.homeScore < match.awayScore} ? 'text-muted'"
                                    tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" th:title="${match?.home?.name}">
                                    <td class="tournament-bracket__image">
                                        <img th:if="${#strings.isEmpty(match?.home?.image)}" src="/images/user.png" width="24" height="24" class="rounded-circle border"/>
                                        <img th:if="${!#strings.isEmpty(match?.home?.image)}" th:src="|/img/${match?.home?.image}|" width="24" height="24" class="rounded-circle border"/>
                                    </td>
                                    <td class="tournament-bracket__name">
                                        <span th:text="${match?.home?.name}"></span>
                                        <i th:if="${key == 0 and match.finished and match.homeScore > match.awayScore}" class="fa fa-trophy text-warning"></i>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number" th:text="${match?.finished} ? ${match.homeScore}: '-'">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team" th:classappend="${match.homeScore > match.awayScore} ? 'text-muted'"
                                    tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" th:title="${match?.away?.name}">
                                    <td class="tournament-bracket__image">
                                        <img th:if="${#strings.isEmpty(match?.away?.image)}" src="/images/user.png" width="24" height="24" class="rounded-circle border"/>
                                        <img th:if="${!#strings.isEmpty(match?.away?.image)}" th:src="|/img/${match?.away?.image}|" width="24" height="24" class="rounded-circle border"/>
                                    </td>
                                    <td class="tournament-bracket__name">
                                        <span th:text="${match?.away?.name}"></span>
                                        <i th:if="${key == 0 and match.finished and match.homeScore < match.awayScore}" class="fa fa-trophy text-warning"></i>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number" th:text="${match?.finished} ? ${match.awayScore}: '-'">1</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div> <!-- /container -->
<script th:replace="fragments.html :: date-time"></script>
<script th:replace="fragments.html :: tooltip"></script>
</body>
</html>