<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<style>
    .table-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .table-width {
        max-width: 1000px;
    }
</style>
<body>
<div>
    <div th:replace="fragments/bodyheader" :: bodyheader />
    <div class="py-5 text-center">
        <h1><span class="text-black mx-2" sec:authentication="name">사용자</span>님의 방 목록</h1>
    </div>
    <hr class="my-4">
    <div>
        <a class="btn btn-info" th:href="@{/rooms/create}" role="button" style="float:right;">방 만들기</a>
    </div>
    <div class="table-center">
        <table class="table text-center table-width">
            <thead>
            <tr>
                <th>방명</th>
                <th>참여일자</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${belongList.isEmpty()}">
                <td class="text-center" colspan="5">방이 존재하지 않습니다.</td>
            </tr>
            <tr th:each="belong : ${belongList}">
                <td th:text="${belong.room.title}">방</td>
                <td th:text="${#temporals.format(belong.createdDate, 'yyyy-MM-dd HH:mm:ss')}">참여일자</td>
                <td>
                    <div>
                        <form class="form-check-inline my-2 my-lg-0" th:action="@{|/rooms/${belong.room.id}|}" method="post">
                            <a class="btn btn-primary my-2 my-sm-0" th:href="@{|/rooms/${belong.room.id}|}">조회</a>
                            <input type="hidden" th:if="${belong.belongType.name() == 'ADMIN'}" name="_method" value="delete"/>
                            <button class="btn btn-danger my-2 my-sm-0" type="submit"
                                    th:if="${belong.belongType.name() == 'ADMIN'}">삭제</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <nav>
            <ul class="pagination"
                th:with="start=${T(java.lang.Math).floor(belongList.number/10)*10 + 1},
                    last=(${start + 9 < belongList.totalPages ? start + 9 : belongList.totalPages})">
                <li>
                    <a th:href="@{/rooms(page=1)}" aria-label="First">
                        <span aria-hidden="true"><<</span>
                    </a>
                </li>

                <li th:class="${belongList.first} ? 'disabled'">
                    <a th:href="${belongList.first} ? '#' :@{/rooms(page=${belongList.number})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, last, 1)}" th:class="${page == belongList.number + 1} ? 'active'">
                    <a th:text="${page}" th:href="@{/rooms(page=${page})}"></a>
                </li>

                <li th:class="${belongList.last} ? 'disabled'">
                    <a th:href="${belongList.last} ? '#' : @{/rooms(page=${belongList.number + 2})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/rooms(page=${belongList.totalPages})}" aria-label="Last">
                        <span aria-hidden="true">>></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div th:replace="fragments/footer" :: footer />
</div> <!-- /container -->
</body>
</html>